<div id="J_couponWrap" style="display: none;">
	<div id="J_coupon" class="select-gray fl"> 
		<i class="select-corner icon-gray-left"></i> 
		<%if(list.length==0){%>
		<label class="JQ_option select-option "><%=labelName%></label>  
		<%}else{%>
		<label class="JQ_option select-option ">选择可用的优惠券</label>  
		<%}%>
		<i class="select-corner icon-gray-right"></i> 
		<a id="J_applyType" href="javascript:void(0);" class="select-btn JQ_selectBtn">
		<i class="triangle-down"></i> 
		</a> 
		<input type="hidden" name="selectCoupon" />
		<input type="hidden" name="selectCouponPrice" value="0.00" />
		
		<%if(list.length!=0){%>
			<ul id="J_couponList">
			<%for(var j=0; j<list.length; j++){%>
			    <li>
			        <a href="javascript:void(0);" data-value="<%=list[j].coupon%>" data-price="<%=list[j].price%>">
			       		<%=list[j].name%>
			        </a>
			    </li>
			<%}%>
			</ul>
		<%}%>
		
	</div>
</div>