<dl class="cart-hot-list clearfix">
        <dt>热销单品</dt>
        <%if(list.length != 0){%>
        <%for(var i=0; len=list.length, i<len; i++){%>
        <dd>
            <a href="<%=list[i].linkURL%>"><img src="<%=list[i].imgURL%>" width="190" height="127" /></a>
            <a href="<%=list[i].linkURL%>" class="cart-hot-list-title"><%=list[i].title%></a>
            <p>
                <label class="cart-hot-list-price">&yen <%=list[i].price%></label>
                <span class="cart-hot-list-text">已有<i><%=list[i].saleNum%></i>人购买</span>
            </p>
        </dd>
        <%}}%>
    </dl>