<div class="set-phone-form">
	<p class="set-phone-steps">
		<!-- <span class="step-on">验证身份</span> -->
		<span class="step-on">验证邮箱</span>
		<span class="step-off">完成绑定</span>
	</p>
	<p class="tc fc-333 step-tip">请确保您的邮箱能正常使用，验证成功，邮箱才能生效。</p>
	<div class="step-tr">
		<p id="J_stepPhone" class="step-input-wrap w178">
			<input type="text" name="stepTwoMail" placeholder="请输入邮箱" class="JQ_editPassOption">
		</p>
		<p class="edit-pass-tip"></p>
	</div>
	<div class="step-tr clearfix">
		<p id="J_stepPhoneCode" class="step-input-wrap w78 fl">
			<input type="text" name="stepTwoMailCode" placeholder="输入验证码" class="JQ_editPassOption">
		</p>
		<p class="step-code-wrap fl">
			<a id="J_sendEmailCode" href="javascript:void(0);" class="phone-code-btn">
				发送邮箱验证码
			</a>
			<a id="J_codeWait" href="javascript:void(0);" class="phone-code-btn-gray hide">
				<label id="J_subMTimeWrap" class="fc-f60">300</label>秒
			</a>
		</p>
		<div class="clear"></div>
		<p class="edit-pass-tip"></p>
	</div>
</div>