<div class="set-phone-form">
	<p class="set-phone-steps">
		<!-- <span class="step-on">验证身份</span> -->
		<span class="step-on">验证手机</span>
		<span class="step-off">完成绑定</span>
	</p>
	<p class="tc fc-333 step-tip">请确保您的手机能正常接收短信，验证成功，新手机才能生效。</p>
	<div class="step-tr">
		<p id="J_stepPhone" class="step-input-wrap w178">
			<input type="text" name="stepTwoPhone" placeholder="请输入手机号码" class="JQ_editPassOption">
		</p>
		<p class="edit-pass-tip"></p>
	</div>
	<div class="step-tr clearfix">
		<p id="J_stepPhoneCode" class="step-input-wrap w78 fl">
			<input type="text" name="stepTwoPhoneCode" placeholder="输入验证码" class="JQ_editPassOption">
		</p>
		<p class="step-code-wrap fl">
			<a id="J_getPhoneCode" href="javascript:void(0);" class="phone-code-btn">
				获取手机验证码
			</a>
			<a id="J_codeWait" href="javascript:void(0);" class="phone-code-btn-gray">
				<label id="J_subTimeWrap" class="fc-f60">60</label>秒
			</a>
		</p>
		<div class="clear"></div>
		<p class="edit-pass-tip"></p>
	</div>
</div>