<div class="set-phone-form">
	<input type="hidden" name="setPhoneOneRes">
	<p class="set-phone-steps">
		<span class="step-on">验证身份</span>
		<span class="step-off">验证手机</span>
		<span class="step-off">完成绑定</span>
	</p>
	<p class="tc fc-333 step-tip">为了确保您的帐号安全，请先验证您的身份。</p>
	<div class="step-tr">
		<p id="J_stepPass" class="step-input-wrap w178">
			<input type="password" name="stepPass" placeholder="请输入登录密码" class="JQ_editPassOption">
		</p>
		<p class="edit-pass-tip"></p>
	</div>
	<div class="step-tr clearfix">
		<p id="J_setCode" class="step-input-wrap w78 fl">
			<input type="text" name="stepCode" placeholder="验证码" class="JQ_editPassOption">
		</p>
		 <p class="step-code-wrap fl">
			<img id="J_stepRCode" src="http://misc.jjcdn.com/p/images/testYZM.png" width="90" height="26" />
			<a id="J_getNewCode" href="javascript:void(0);" class="change-code-btn">换一张</a>
		</p>
		<div class="clear"></div>
		<p class="edit-pass-tip"></p>
	</div>
</div>