<div class="set-email-form">
	<!-- 主体文字 -->
	<p class="fc-333">系统将向您的邮箱 <%=email%> 发送一封验证邮件，请您登录邮箱，点击邮件中的链接完成邮箱验证。</p>
	<!-- 进入邮箱按钮 -->
	<p id="J_sendBtnWrap" class="email-btn-tr">
		<a id="J_sendMail" href="javascript:void(0);" class="send-btn orange" target="_blank">发送验证邮件</a>
	</p>
	<!-- 倒计时容器 -->
	<p id="J_sendMailSub" class="tc fs-14">
		<span id="J_subWrap" class="fc-f60"></span>
	</p>
	<!-- 发送邮件按钮 -->
	<p class="fc-8c8 tc mt-10">
		<label>如果您超过5分钟未收到邮件，您可以重新发送验证邮件</label>
	</p>
	<!-- 提示文字 -->
	<p class="email-send-tip">
	为什么要验证邮箱？<br>
	1. 验证邮箱可加强账户安全，您可以使用已验证手机快速找回密码或支付密码；<br>
	2. 已验证邮箱可用于接收金海马商城优惠信息、会员资讯等。
	</p>
</div>