<div class="explain-title-line">
    <p class="section-title">会员等级规则<i class="before"></i><i class="after"></i></p>
</div>
<table class="level-rule-table" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <td>会员级别</td>
            <td>会员等级名称</td>
            <td>成长值范围</td>
            <td>级别有效期</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><i class="icon-level-k0"></i></th>
            <td>Q萌学徒</td>
            <td>0</td>
            <td>永久</td>
        </tr>
        <tr>
            <th><i class="icon-level-k1"></i></th>
            <td>俏皮工匠</td>
            <td>1-4999</td>
            <td>永久</td>
        </tr>
        <tr>
            <th><i class="icon-level-k2"></i></th>
            <td>造诣大师</td>
            <td>5000-19999</td>
            <td>有效期1年，一年之后扣除2000成长值，根据剩余成长值调整会员级别</td>
        </tr>
        <tr>
            <th><i class="icon-level-k3"></i></th>
            <td>一代宗师</td>
            <td>20000-49999</td>
            <td>有效期1年，一年之后扣除8000成长值，根据剩余成长值调整会员级别</td>
        </tr>
        <tr>
            <th><i class="icon-level-k4"></i></th>
            <td>鼻祖鲁班</td>
            <td>50000及以上</td>
            <td>有效期1年，一年之后扣除20000成长值，根据剩余成长值调整会员级别</td>
        </tr>
    </tbody>
</table>
