<div class="explain-title-line">
    <p class="section-title"><i class="icon-member-vip"></i><b>会员升级条件</b><i class="before"></i><i class="after"></i></p>
</div>
<table class="level-up-table" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><i class="icon-level-title-k0"></i></th>
            <th><i class="icon-level-title-k1"></i></th>
            <th><i class="icon-level-title-k2"></i></th>
            <th><i class="icon-level-title-k3"></i></th>
            <th><i class="icon-level-title-k4"></i></th>
        </tr>
        <tr>
            <td>成功注册且登陆过金海马任一平台的用户（金海马PC版商城、WAP版商城等）</td>
            <td>产生至少一笔交易的会员，且会员成长值小于4999</td>
            <td>会员成长值大于等于5000，且小于19999的会员</td>
            <td>会员成长值大于等于20000，且小于49999的会员</td>
            <td>会员成长值大于等于50000的会员</td>
        </tr>
    </tbody>
</table>
