*~
.DS_Store
.idea
node_modules
src/p/node_modules
workspace.xml
src/p/lib/template/.cache
.sass-cache
src/p/tplClassific
src/p/tplBuild
tplIndex
src/p/build
src/p/dest
src/p/active/act/*.txt
src/p/sea-modules
.sass-cache
temp
sass/page/*.orig
