/*
 * kinhom
 * @author : linyandi
 * @date   : 2015-02-13
 */
.kh-row-24 {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-right: -10px;
}
.kh-col-1,
.kh-col-2,
.kh-col-3,
.kh-col-4,
.kh-col-5,
.kh-col-6,
.kh-col-7,
.kh-col-8,
.kh-col-9,
.kh-col-10,
.kh-col-11,
.kh-col-12,
.kh-col-13,
.kh-col-14,
.kh-col-15,
.kh-col-16,
.kh-col-17,
.kh-col-18,
.kh-col-19,
.kh-col-20,
.kh-col-21,
.kh-col-22,
.kh-col-23,
.kh-col-24 {
  margin: 0 5px;
  float: left;
}
.kh-row-24 .kh-col-1 {
  width: 40px;
}
.kh-row-24 .kh-col-2 {
  width: 90px;
}
.kh-row-24 .kh-col-3 {
  width: 140px;
}
.kh-row-24 .kh-col-4 {
  width: 190px;
}
.kh-row-24 .kh-col-5 {
  width: 240px;
}
.kh-row-24 .kh-col-6 {
  width: 290px;
}
.kh-row-24 .kh-col-7 {
  width: 340px;
}
.kh-row-24 .kh-col-8 {
  width: 390px;
}
.kh-row-24 .kh-col-9 {
  width: 440px;
}
.kh-row-24 .kh-col-10 {
  width: 490px;
}
.kh-row-24 .kh-col-11 {
  width: 540px;
}
.kh-row-24 .kh-col-12 {
  width: 590px;
}
.kh-row-24 .kh-col-13 {
  width: 640px;
}
.kh-row-24 .kh-col-14 {
  width: 690px;
}
.kh-row-24 .kh-col-15 {
  width: 740px;
}
.kh-row-24 .kh-col-16 {
  width: 790px;
}
.kh-row-24 .kh-col-17 {
  width: 840px;
}
.kh-row-24 .kh-col-18 {
  width: 890px;
}
.kh-row-24 .kh-col-19 {
  width: 940px;
}
.kh-row-24 .kh-col-20 {
  width: 990px;
}
.kh-row-24 .kh-col-21 {
  width: 1040px;
}
.kh-row-24 .kh-col-22 {
  width: 1090px;
}
.kh-row-24 .kh-col-23 {
  width: 1140px;
}
.kh-row-24 .kh-col-24 {
  width: 1190px;
}
