$btn_bg_130x30_8c8: -4px -4px 130px 30px;
$btn_bg_130x30_ee9: -142px -4px 130px 30px;
$btn_bg_130x30_f60: -280px -4px 130px 30px;
$btn_bg_40x20_333: -418px -4px 40px 20px;
$btn_bg_40x20_8c8: -466px -4px 40px 20px;
$btn_bg_40x20_ccc: -514px -4px 40px 20px;
$btn_bg_40x20_f60: -562px -4px 40px 20px;
$btn_bg_67x20_ccc: -610px -4px 67px 20px;
$btn_bg_67x20_ee9: -685px -4px 67px 20px;
$btn_bg_67x20_f60: -760px -4px 67px 20px;
$btn_bg_77x20: -835px -4px 77px 20px;
$btn_bg_80x30_ccc: -920px -4px 80px 30px;
$btn_bg_80x30_ee9: -1008px -4px 80px 30px;
$btn_bg_80x30_f60: -1096px -4px 80px 30px;
$corner_gray_left: -1184px -4px 5px 30px;
$corner_gray_right: -1197px -4px 5px 30px;
$customer_chat_30x30_f60: -1210px -4px 30px 30px;
$da_btn_close: -1248px -4px 25px 25px;
$da_icon_time: -1281px -4px 20px 20px;
$da_icon_time_ccc: -1309px -4px 20px 20px;
$face_frown_61b: -1337px -4px 60px 60px;
$face_frown_f60: -1405px -4px 60px 60px;
$face_sad_f60: -1473px -4px 60px 60px;
$face_smile_f60: -1541px -4px 60px 60px;
$icon-member-nav-l: -1609px -4px 10px 20px;
$icon-member-nav-r: -1627px -4px 10px 20px;
$icon-pick-time19x20: -1645px -4px 19px 20px;
$icon_address_close: -1672px -4px 17px 17px;
$icon_aside_baby_gray: -1697px -4px 30px 30px;
$icon_aside_baby_white: -1735px -4px 30px 30px;
$icon_aside_bed_gray: -1773px -4px 30px 30px;
$icon_aside_bed_white: -1811px -4px 30px 30px;
$icon_aside_office_gray: -1849px -4px 30px 30px;
$icon_aside_office_w: -1887px -4px 30px 30px;
$icon_aside_office_white: -1925px -4px 30px 30px;
$icon_aside_sofa_gray: -1963px -4px 30px 30px;
$icon_aside_sofa_white: -2001px -4px 30px 30px;
$icon_aside_store_gray: -2039px -4px 30px 30px;
$icon_aside_store_white: -2077px -4px 30px 30px;
$icon_aside_study_gray: -2115px -4px 30px 30px;
$icon_aside_study_white: -2153px -4px 30px 30px;
$icon_aside_table_gray: -2191px -4px 30px 30px;
$icon_aside_table_white: -2229px -4px 30px 30px;
$icon_bar_hot: -2267px -4px 26px 17px;
$icon_cart_8c8: -2301px -4px 20px 20px;
$icon_cart_ccc: -2329px -4px 20px 20px;
$icon_cart_f60: -2357px -4px 20px 20px;
$icon_cart_favorite_off: -2385px -4px 24px 20px;
$icon_cart_favorite_on: -2417px -4px 24px 20px;
$icon_cart_fff: -2449px -4px 20px 20px;
$icon_cart_num: -2477px -4px 18px 18px;
$icon_chat_qq: -2503px -4px 16px 16px;
$icon_checkbox_checked: -2527px -4px 20px 20px;
$icon_checkbox_nochecked: -2555px -4px 20px 20px;
$icon_circle_12x12_2f6: -2583px -4px 12px 12px;
$icon_circle_12x12_333: -2603px -4px 12px 12px;
$icon_circle_12x12_666: -2623px -4px 12px 12px;
$icon_circle_12x12_8c8: -2643px -4px 12px 12px;
$icon_circle_12x12_ccc: -2663px -4px 12px 12px;
$icon_circle_12x12_f60: -2683px -4px 12px 12px;
$icon_club_vip_fff: -2703px -4px 37px 21px;
$icon_crown_f60: -2748px -4px 20px 20px;
$icon_delete_8c8: -2776px -4px 24px 20px;
$icon_delete_ccc: -2808px -4px 24px 20px;
$icon_delete_f60: -2840px -4px 24px 20px;
$icon_delete_fff: -2872px -4px 24px 20px;
$icon_detail_chat: -2904px -4px 20px 16px;
$icon_detail_circle_blue: -2932px -4px 20px 20px;
$icon_detail_circle_gray: -2960px -4px 20px 20px;
$icon_find_fff: -2988px -4px 20px 20px;
$icon_float_nav_cart: -3016px -4px 44px 40px;
$icon_float_nav_feedback: -3068px -4px 44px 40px;
$icon_float_nav_qq: -3120px -4px 44px 40px;
$icon_float_nav_top: -3172px -4px 44px 40px;
$icon_float_nav_wechat: -3224px -4px 44px 40px;
$icon_focus_sina: -3276px -4px 60px 20px;
$icon_growth_green: -3344px -4px 20px 20px;
$icon_help: -3372px -4px 20px 20px;
$icon_hot_1: -3400px -4px 20px 29px;
$icon_hot_10: -3428px -4px 20px 29px;
$icon_hot_2: -3456px -4px 20px 29px;
$icon_hot_3: -3484px -4px 20px 29px;
$icon_hot_4: -3512px -4px 20px 29px;
$icon_hot_5: -3540px -4px 20px 29px;
$icon_hot_6: -3568px -4px 20px 29px;
$icon_hot_7: -3596px -4px 20px 29px;
$icon_hot_8: -3624px -4px 20px 29px;
$icon_hot_9: -3652px -4px 20px 29px;
$icon_item_favorite_off: -3680px -4px 24px 20px;
$icon_item_favorite_on: -3712px -4px 24px 20px;
$icon_item_hot_recommend: -3744px -4px 55px 49px;
$icon_item_points_buy: -3807px -4px 60px 72px;
$icon_item_points_exchange: -3875px -4px 60px 72px;
$icon_item_rebate: -3943px -4px 80px 80px;
$icon_item_rec_next_gray: -4031px -4px 8px 15px;
$icon_item_rec_next_orange: -4047px -4px 8px 15px;
$icon_item_rec_point_right: -4063px -4px 17px 21px;
$icon_item_rec_prev_gray: -4088px -4px 8px 15px;
$icon_item_rec_prev_orange: -4104px -4px 8px 15px;
$icon_item_servie: -4120px -4px 16px 16px;
$icon_label_333: -4144px -4px 20px 20px;
$icon_label_61b: -4172px -4px 20px 20px;
$icon_label_f60: -4200px -4px 20px 20px;
$icon_level_0: -4228px -4px 26px 15px;
$icon_level_1: -4262px -4px 26px 15px;
$icon_level_2: -4296px -4px 26px 15px;
$icon_level_3: -4330px -4px 26px 15px;
$icon_level_4: -4364px -4px 26px 15px;
$icon_magnify_8c8: -4398px -4px 14px 14px;
$icon_magnify_ccc: -4420px -4px 14px 14px;
$icon_magnify_f60: -4442px -4px 14px 14px;
$icon_magnify_fff: -4464px -4px 14px 14px;
$icon_member_privilege_1: -4486px -4px 30px 30px;
$icon_member_privilege_2: -4524px -4px 30px 30px;
$icon_member_privilege_3: -4562px -4px 30px 30px;
$icon_member_privilege_4: -4600px -4px 30px 30px;
$icon_member_privilege_5: -4638px -4px 30px 30px;
$icon_member_privilege_6: -4676px -4px 30px 30px;
$icon_member_privilege_7: -4714px -4px 30px 30px;
$icon_member_privilege_8: -4752px -4px 30px 30px;
$icon_member_privilege_9: -4790px -4px 30px 30px;
$icon_min_bar_phone: -4828px -4px 40px 40px;
$icon_modify_8c8: -4876px -4px 20px 20px;
$icon_modify_ccc: -4904px -4px 20px 20px;
$icon_modify_f60: -4932px -4px 20px 20px;
$icon_nav_hot: -4960px -4px 26px 17px;
$icon_next_20x20_disable: -4994px -4px 20px 20px;
$icon_next_20x20_enable: -5022px -4px 20px 20px;
$icon_o2o_61b: -5050px -4px 20px 20px;
$icon_phone_20x20: -5078px -4px 21px 15px;
$icon_phone_20x20_61b: -5107px -4px 20px 20px;
$icon_phone_20x20_f60: -5135px -4px 20px 20px;
$icon_point_333: -5163px -4px 20px 20px;
$icon_point_61b: -5191px -4px 20px 20px;
$icon_point_down_333: -5219px -4px 20px 20px;
$icon_point_down_f60: -5247px -4px 20px 20px;
$icon_point_right_fff: -5275px -4px 20px 20px;
$icon_points_tip_limit: -5303px -4px 97px 97px;
$icon_prev_20x20_disable: -5408px -4px 20px 20px;
$icon_prev_20x20_enable: -5436px -4px 20px 20px;
$icon_radio_ccc: -5464px -4px 20px 20px;
$icon_radio_f60: -5492px -4px 20px 20px;
$icon_safe: -5520px -4px 14px 20px;
$icon_safe_line_gray: -5542px -4px 120px 10px;
$icon_safe_line_green: -5670px -4px 120px 10px;
$icon_select_down: -5798px -4px 14px 10px;
$icon_select_down_ccc: -5820px -4px 14px 10px;
$icon_select_down_hover: -5842px -4px 14px 10px;
$icon_select_down_small: -5864px -4px 7px 5px;
$icon_select_down_small_hover: -5879px -4px 7px 5px;
$icon_select_up_2f6: -5894px -4px 14px 10px;
$icon_shape_333: -5916px -4px 8px 13px;
$icon_shape_8c8: -5932px -4px 8px 13px;
$icon_shape_ccc: -5948px -4px 8px 13px;
$icon_shape_f60: -5964px -4px 8px 13px;
$icon_share_email: -5980px -4px 32px 32px;
$icon_shopping_cart: -6020px -4px 115px 93px;
$icon_single_tip_f60: -6143px -4px 80px 80px;
$icon_star_off: -6231px -4px 20px 20px;
$icon_star_on: -6259px -4px 20px 20px;
$icon_step_off: -6287px -4px 20px 20px;
$icon_step_on: -6315px -4px 20px 20px;
$icon_step_point_off: -6343px -4px 30px 20px;
$icon_step_point_on: -6381px -4px 30px 20px;
$icon_tab_nav_left_61b: -6419px -4px 14px 30px;
$icon_tab_nav_left_8c8: -6441px -4px 14px 30px;
$icon_tab_nav_right_61b: -6463px -4px 14px 30px;
$icon_tab_nav_right_8c8: -6485px -4px 14px 30px;
$icon_time_picker_5e6: -6507px -4px 20px 20px;
$icon_tip_ok: -6535px -4px 14px 14px;
$icon_tip_right_blue: -6557px -4px 40px 20px;
$icon_tip_right_green: -6605px -4px 40px 20px;
$icon_tip_right_orange: -6653px -4px 40px 20px;
$icon_triangle_down_333: -6701px -4px 8px 6px;
$icon_triangle_down_8c8: -6717px -4px 8px 6px;
$icon_triangle_down_ccc: -6733px -4px 8px 6px;
$icon_triangle_down_f60: -6749px -4px 8px 6px;
$icon_triangle_right_8c8: -6765px -4px 8px 9px;
$icon_triangle_right_ccc: -6781px -4px 8px 9px;
$icon_triangle_right_f60: -6797px -4px 8px 9px;
$icon_warn_14x14_333: -6813px -4px 14px 14px;
$icon_warn_14x14_c13: -6835px -4px 14px 14px;
$icon_warn_14x14_ccc: -6857px -4px 14px 14px;
$icon_warn_14x14_f60: -6879px -4px 14px 14px;
$item_hot_check_off: -6901px -4px 15px 15px;
$item_hot_check_on: -6924px -4px 15px 15px;
$item_hot_point_down_hover: -6947px -4px 30px 40px;
$item_hot_point_down_link: -6985px -4px 30px 40px;
$item_hot_point_up_hover: -7023px -4px 30px 40px;
$item_hot_point_up_link: -7061px -4px 30px 40px;
$item_price_info_bg: -7099px -4px 4px 4px;
$m_aside_config_f60: -7111px -4px 20px 20px;
$m_aside_config_fff: -7139px -4px 20px 20px;
$m_aside_coupon_f60: -7167px -4px 21px 20px;
$m_aside_coupon_fff: -7196px -4px 21px 20px;
$m_aside_favorite_f60: -7225px -4px 20px 20px;
$m_aside_favorite_fff: -7253px -4px 20px 20px;
$m_aside_order_f60: -7281px -4px 21px 20px;
$m_aside_order_fff: -7310px -4px 21px 20px;
$m_aside_person_f60: -7339px -4px 20px 20px;
$m_aside_person_fff: -7367px -4px 20px 20px;
$m_aside_service_f60: -7395px -4px 20px 20px;
$m_aside_service_fff: -7423px -4px 20px 20px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.khicons {
  background-image: url('http://misc.jjcdn.com/p/images/sprite.png');
}

