/**
 *  ---------------------------------------------
 *      全站基础变量
 *      在这里定义的变量，在所有页面和组件里面都可以
 *      直接使用
 *      
 *      author : linyandi
 *      date   :2016-04-02

 *  ---------------------------------------------
 */
// 静态资源cdn 地址
$cdn : "http://misc.jjcdn.com/p";