/**
 *  ---------------------------------------------
 *      全站基础样式
 *      这里的样式是全站每个页面都必须引用的
 *      
 *      author : linyandi
 *      date   :2016-04-02
 *      
 *      modify : linyandi
 *      date   : 2016-04-03
 * 
 *  ---------------------------------------------
 */
@import "varieas",
		"base",
		"grid",
		"sprite",
		"icons";