<dt></dt>
<dd class="pro-item">
    <a href="#" class="pro-link">
        <img src="{cdn}/p/images/classific-item-img.jpg" alt="">
    </a>
    <div class="cart classific-icon"></div>
    <div class="favors classific-icon"></div>
    <p class="pro-info">
        <span class="brand">金海马</span>
        <a href="#" class="pro-title">现代简约  棕色  真皮  沙发组合  布艺沙发   商品名限制2行！</a>
    </p>
    <div class="promotion">
        <p class="promotion-title">促销信息：最多不超过1行，限制好！</p>
    </div>
    <p class="price fc-f60"><span>&yen;</span><strong>3999</strong></p>
    <p class="buyers">
        已有<span class="fc-f60">300</span>人购买 | 评价 <span class="fc-f60">20</span> 
    </p>
</dd>