<%for(var i=0; i<list.length; i++) {%>
<li class="recommend-item">
    <a href="<%=list[i].proLink%>" target="_blank" title="<%=list[i].proTitle%>" class="img-link">
        <img class="lazy" data-original="<%=list[i].imgURL%>" alt="<%=list[i].proAlt%>" width="190" height="125">
    </a>
    <div class="info">
        <a href="<%=list[i].proLink%>" target="_blank" title="<%=list[i].proTitle%>" class="good-title"><%=list[i].proTitle%></a>
        <p class="fc-f60 price">&yen;<span><%=list[i].proPrice%></span></p>
    </div>
</li>
<%}%>
