<div class="top-ad-wrap" style="<%if(bgColor!=""){%>background-color: <%=bgColor%>;<%}%> width: 100%;">
    <div>
        <a href="<%=link%>" target="_blank" title="<%=title%>" style="background: url(<%=imgURL%>) top center no-repeat; display:block; width:100%; height: <%if(height==""){%>120<%}else{%><%=height%><%}%>px;">
            <!--<img src="<%=imgURL%>" alt="<%=title%>" width="1190" height="80" />-->
        </a>
        <a href="javascript:void(0);" class="index-top-ad-close" id="J_indexTopAdClose">
            <span></span>
        </a>
    </div> 
</div> 