/**
 *  ---------------------------------------------
 *      全站通用面包屑样式
 *      在三大页内引用
 *      
 *      author : linyandi
 *      date   :2016-04-02
 *      
 *      modify : linyandi
 *      date   : 2016-04-03
 * 
 *  ---------------------------------------------
 */
.main-location {
    height: 40px;
    line-height: 40px;
    color: #8c8c8c;
    a {
        color: #8c8c8c;
        vertical-align: inherit;
        &:hover {
            color: #f60;
            text-decoration: none;
        }
    }
    span {
        vertical-align: inherit;
        font-size: 16px;
    }
    label {
        vertical-align: inherit;
    }
}