/**
 *  ---------------------------------------------
 *      弹窗登录样式
 *      此组件样式针对弹窗登录的，目前只在活动页引用
 *      
 *      author : linyandi
 *      date   :2016-04-02
 *      
 *      modify : linyandi
 *      date   : 2016-04-03
 * 
 *  ---------------------------------------------
 */

.ui-login-dialog {
    *zoom:1;
    _float: left;
    /*padding:8px;*/
    position: relative;
    background-color: #FFF;
    border: 1px solid #2f6ceb;
    /*border-radius: 4px;*/
    outline: 0;
    background-clip: padding-box;
    font-family: "Microsoft Yahei", Helvetica, arial, sans-serif;
    color: #333;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .15s ease-in-out;
}
.ui-popup-show .ui-login-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ui-popup-focus .ui-login-dialog {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.ui-popup-modal .ui-login-dialog {
    border: none;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, .3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, .3);*/
}
.ui-login-dialog-grid {
    width: auto;
    margin: 0;
    border: 0 none;
    border-collapse:collapse;
    border-spacing: 0;
    background: transparent;
}
.ui-login-dialog-header,
.ui-login-dialog-body,
.ui-login-dialog-footer {
    padding: 0;
    border: 0 none;
    background: transparent;
}
.ui-login-dialog-header {
    padding:8px;
    text-align:center;
    color:#fff;
    white-space: nowrap;
    background-color:#2f6ceb;
    /*  border-top-left-radius:4px;
        border-top-right-radius:4px;*/
}
.ui-login-dialog-close {
    position: relative;
    _position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    height: 28px;
    width:28px;
    font-size: 24px;
    font-weight:bold;
    line-height: 28px;
    text-align:center;
    color: #2f6ceb;
    cursor: pointer;
    background: #a1bdf6;
    border: 0;
    border-radius:14px;
}
.ui-login-dialog-close:hover,
.ui-login-dialog-close:focus {
    color: #2f6ceb;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
.ui-login-dialog-title {
    margin: 0;
    line-height: 1.428571429;
    min-height: 16.428571429px;
    padding: 4px 8px 4px 0px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family:"Microsoft Yahei";
    font-size:14px;
    cursor: default;
}
.ui-login-dialog-body {
    padding: 8px 0;
    text-align: center;
}
.ui-login-dialog-content {
    padding:0 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}
.ui-login-dialog-content i {
    vertical-align: middle;
}
.ui-login-dialog-footer {
    text-align:center;
    padding: 0 10px 10px 10px;
}
.ui-login-dialog-statusbar {
    /*float: left;
    margin-right: 20px;*/
    padding: 6px 0;
    line-height: 1.428571429;
    font-size: 12px;
    color: #888;
    white-space: nowrap;
}
.ui-login-dialog-statusbar label:hover {
    color: #333;
}
.ui-login-dialog-statusbar input,
.ui-login-dialog-statusbar .label {
    vertical-align: middle;
}
.ui-login-dialog-button {
    /*float: right;*/
    white-space: nowrap;
}
.ui-login-dialog-footer button+button {
    margin-bottom: 0;
    margin-left: 10px;
}
.ui-login-dialog-footer button {
    /*width:auto;*/
    min-width:120px;
    max-width:120px;
    overflow:hidden;
    overflow:visible;
    display: inline-block;
    padding: 6px 12px;
    _margin-left: 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-login-dialog-footer button:focus {
    /*outline: thin dotted #333;*/
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ui-login-dialog-footer button:hover,
.ui-login-dialog-footer button:focus {
    color: #333333;
    text-decoration: none;
}

.ui-login-dialog-footer button:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ui-login-dialog-footer button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-login-dialog-footer button {
    color: #fff;
    background-color: #ffffff;
    /*border-color: #cccccc;*/
    /*box-shadow:1px 1px 2px #999;*/
}

.ui-login-dialog-footer button:hover,
.ui-login-dialog-footer button:focus,
.ui-login-dialog-footer button:active {
    color: #333333;
    background-color: #ebebeb;
    /*border-color: #adadad;*/
}

.ui-login-dialog-footer button:active{
    background-image: none;
}

.ui-login-dialog-footer button[disabled],
.ui-login-dialog-footer button[disabled]:hover,
.ui-login-dialog-footer button[disabled]:focus,
.ui-login-dialog-footer button[disabled]:active {
    background-color: #ffffff;
    /*border-color: #cccccc;*/
}

.ui-login-dialog-footer button.ui-login-dialog-autofocus {
    /*color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;*/
}

.ui-login-dialog-footer button.ui-login-dialog-autofocus:hover,
.ui-login-dialog-footer button.ui-login-dialog-autofocus:focus,
.ui-login-dialog-footer button.ui-login-dialog-autofocus:active {
    /*color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;*/
}

.ui-login-dialog-footer button.ui-login-dialog-autofocus:active {
    background-image: none;
}
/* ok btn */
.ui-login-dialog-footer button.ui-btns-ok{
    color:#fff;
    background-color:#f60;
}
.ui-login-dialog-footer button.ui-btns-ok:hover,
.ui-login-dialog-footer button.ui-btns-ok:focus{
    background-color:#ee950a;
}
/* cancel btn*/
.ui-login-dialog-footer button.ui-btns-cancel{
    color:#fff;
    background-color:#8c8c8c;
}
.ui-login-dialog-footer button.ui-btns-cancel:hover,
.ui-login-dialog-footer button.ui-btns-cancel:focus,
.ui-login-dialog-footer button.ui-btns-cancel:active{
    background-color:#ee950a;
}
/* gray btn */
.ui-login-dialog-footer button.ui-btns-gray{
    color:#fff;
    background-color:#8c8c8c;
}
.ui-login-dialog-footer button.ui-btns-gray:hover,
.ui-login-dialog-footer button.ui-btns-gray:focus,
.ui-login-dialog-footer button.ui-btns-gray:active{
    background-color:#ee950a;
}
/* orange btn */
.ui-login-dialog-footer button.ui-btns-orange{
    color:#fff;
    background-color:#f60;
}
.ui-login-dialog-footer button.ui-btns-orange:hover,
.ui-login-dialog-footer button.ui-btns-orange:focus,
.ui-login-dialog-footer button.ui-btns-orange:active{
    background-color:#ee950a;
}
/*blue btn */
.ui-login-dialog-footer button.ui-btns-blue{
    color:#fff;
    background-color:#2f6ceb;
}
.ui-login-dialog-footer button.ui-btns-blue:hover,
.ui-login-dialog-footer button.ui-btns-blue:focus,
.ui-login-dialog-footer button.ui-btns-blue:active{
    background-color:#ee950a;
}


.ui-popup-top-left .ui-login-dialog,
.ui-popup-top .ui-login-dialog,
.ui-popup-top-right .ui-login-dialog {
    top: -8px;
}
.ui-popup-bottom-left .ui-login-dialog,
.ui-popup-bottom .ui-login-dialog,
.ui-popup-bottom-right .ui-login-dialog {
    top: 8px;
}
.ui-popup-left-top .ui-login-dialog,
.ui-popup-left .ui-login-dialog,
.ui-popup-left-bottom .ui-login-dialog {
    left: -8px;
}
.ui-popup-right-top .ui-login-dialog,
.ui-popup-right .ui-login-dialog,
.ui-popup-right-bottom .ui-login-dialog {
    left: 8px;
}

.ui-login-dialog-arrow-a,
.ui-login-dialog-arrow-b {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    overflow:hidden;
    _color:#FF3FFF;
    _filter:chroma(color=#FF3FFF);
    border:8px dashed transparent;
}
.ui-popup-follow .ui-login-dialog-arrow-a,
.ui-popup-follow .ui-login-dialog-arrow-b{
    display: block;
}
.ui-popup-top-left .ui-login-dialog-arrow-a,
.ui-popup-top .ui-login-dialog-arrow-a,
.ui-popup-top-right .ui-login-dialog-arrow-a {
    bottom: -16px;
    border-top:8px solid #2f6ceb;
}
.ui-popup-top-left .ui-login-dialog-arrow-b,
.ui-popup-top .ui-login-dialog-arrow-b,
.ui-popup-top-right .ui-login-dialog-arrow-b {
    bottom: -15px;
    border-top:8px solid #fff;
}
.ui-popup-top-left .ui-login-dialog-arrow-a,
.ui-popup-top-left .ui-login-dialog-arrow-b  {
    left: 15px;
}
.ui-popup-top .ui-login-dialog-arrow-a,
.ui-popup-top .ui-login-dialog-arrow-b  {
    left: 50%;
    margin-left: -8px;
}
.ui-popup-top-right .ui-login-dialog-arrow-a,
.ui-popup-top-right .ui-login-dialog-arrow-b {
    right: 15px;
}
.ui-popup-bottom-left .ui-login-dialog-arrow-a,
.ui-popup-bottom .ui-login-dialog-arrow-a,
.ui-popup-bottom-right .ui-login-dialog-arrow-a {
    top: -16px;
    border-bottom:8px solid #2f6ceb;
}
.ui-popup-bottom-left .ui-login-dialog-arrow-b,
.ui-popup-bottom .ui-login-dialog-arrow-b,
.ui-popup-bottom-right .ui-login-dialog-arrow-b {
    top: -15px;
    border-bottom:8px solid #fff;
}
.ui-popup-bottom-left .ui-login-dialog-arrow-a,
.ui-popup-bottom-left .ui-login-dialog-arrow-b {
    left: 15px;
}
.ui-popup-bottom .ui-login-dialog-arrow-a,
.ui-popup-bottom .ui-login-dialog-arrow-b {
    margin-left: -8px;
    left: 50%;
}
.ui-popup-bottom-right .ui-login-dialog-arrow-a,
.ui-popup-bottom-right .ui-login-dialog-arrow-b {
    right: 15px;
}
.ui-popup-left-top .ui-login-dialog-arrow-a,
.ui-popup-left .ui-login-dialog-arrow-a,
.ui-popup-left-bottom .ui-login-dialog-arrow-a {
    right: -16px;
    border-left:8px solid #2f6ceb;
}
.ui-popup-left-top .ui-login-dialog-arrow-b,
.ui-popup-left .ui-login-dialog-arrow-b,
.ui-popup-left-bottom .ui-login-dialog-arrow-b {
    right: -15px;
    border-left:8px solid #fff;
}
.ui-popup-left-top .ui-login-dialog-arrow-a,
.ui-popup-left-top .ui-login-dialog-arrow-b {
    top: 15px;
}
.ui-popup-left .ui-login-dialog-arrow-a,
.ui-popup-left .ui-login-dialog-arrow-b {
    margin-top: -8px;
    top: 50%;
}
.ui-popup-left-bottom .ui-login-dialog-arrow-a,
.ui-popup-left-bottom .ui-login-dialog-arrow-b {
    bottom: 15px;
}
.ui-popup-right-top .ui-login-dialog-arrow-a,
.ui-popup-right .ui-login-dialog-arrow-a,
.ui-popup-right-bottom .ui-login-dialog-arrow-a {
    left: -16px;
    border-right:8px solid #2f6ceb;
}
.ui-popup-right-top .ui-login-dialog-arrow-b,
.ui-popup-right .ui-login-dialog-arrow-b,
.ui-popup-right-bottom .ui-login-dialog-arrow-b {
    left: -15px;
    border-right:8px solid #fff;
}
.ui-popup-right-top .ui-login-dialog-arrow-a,
.ui-popup-right-top .ui-login-dialog-arrow-b {
    top: 15px;
}
.ui-popup-right .ui-login-dialog-arrow-a,
.ui-popup-right .ui-login-dialog-arrow-b {
    margin-top: -8px;
    top: 50%;
}
.ui-popup-right-bottom .ui-login-dialog-arrow-a,
.ui-popup-right-bottom .ui-login-dialog-arrow-b {
    bottom: 15px;
}


@-webkit-keyframes ui-login-dialog-loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes ui-login-dialog-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ui-login-dialog-loading {
    vertical-align: middle;
    position: relative;
    display: block;
    *zoom: 1;
    *display: inline;
    overflow: hidden;
    width: 32px;
    height: 32px;
    top: 50%;
    margin: -16px auto 0 auto;
    font-size: 0;
    text-indent: -999em;
    color: #666;
}
.ui-login-dialog-loading {
    width: 100%\9;
    text-indent: 0\9;
    line-height: 32px\9;
    text-align: center\9;
    font-size: 12px\9;
}
.ui-login-dialog-loading::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    margin: 14.5px 0 0 14.5px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px #ccc, 10px 0px #ccc, 0 10px #ccc, -10px 0 #ccc, -7px -7px 0 0.5px #ccc, 7px -7px 0 1.5px #ccc, 7px 7px #ccc, -7px 7px #ccc;
    -webkit-transform: rotate(360deg);
    -webkit-animation: ui-login-dialog-loading 1.5s infinite linear;
    transform: rotate(360deg);
    animation: ui-login-dialog-loading 1.5s infinite linear;
    display: none\9;
}

.login-dialog {
    position: relative;
}
/* marking */
.login-dialog .login-dialog-mark {
    position: absolute;
    left: -8px;
    top: -52px;
    width: 416px;
    height: 260px;
    text-align: center;
    -webkit-opacity: .75;
    opacity: .75;
    filter: alpha(opacity=75);
    background-color: #000;
}
.login-dialog .login-dialog-mark .login-dialog-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 -16px 0;
    display: block;
    width: 32px;
    height: 32px;
    background: url("data:image/gif;base64,R0lGODlhIAAgALMLADQ0NAEBARsbG8TExJeXl1RUVIGBgbq6utbW1uHh4bOzs////wAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyMDI1MTNGOTA3QTQxMUU1QjdDRERFRTM1OTc1NENCMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyMDI1MTNGQTA3QTQxMUU1QjdDRERFRTM1OTc1NENCMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjIwMjUxM0Y3MDdBNDExRTVCN0NEREVFMzU5NzU0Q0IzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjIwMjUxM0Y4MDdBNDExRTVCN0NEREVFMzU5NzU0Q0IzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEBQUACwAsAAAAACAAIAAABOdwyUkpCaTqzacIQoUknaYYVaBSg6KUVCIIBaUGU+IeMDULL8ltcnAhehPDDDAZLhA7JAUwQy2cLgVJKlH8SEOoYkARbxcKACAzKVQ1ulzROCGoAYXgQMDutLJkFAV3eEc9WQoHZxQKg3dIYoYddgBBPZIwCVZcnFyIOwkDBAakpZyfO6Wqm0ioiqKrrJ2zHZgwtrV0JZFIc4mLclk8SH8ugRPFibeWCb6SYr8TWhpix09FZzoKmH9HWV0uwD3aQd9PUZxzhuYL6lxiw2guOew9c2f1f55jjPNl4h0S2CoSj9aGZgA3RAAAIfkEBQUACwAsAAAAABgAFwAABHJwyUmrUDXrCQSoBrGJlGBSQBBowFeeEqEKbHtMJi0JqqERrQIOZphtFoUWKbdAqAKkTcvFLKhcTYPhhsJSZIPJQatFSBAAzJGiIIcS6w3C7Ytvxoaw/aje++MJBwqDhH8LgoSFf4GJg4aPkJGSk0d6exEAIfkEBQUACwAsAQAAAB0ADgAABHJwyUmnAjXrvQoomcJNyFEBKFUIwigZhjihmKSw9QgbyJxKAJZLctj5crihhAAzLWiLBEsgmyQ2COMzZWCBJoZAgJBQHHoTZkzTWgrEAZ5ifrhGDYPRAAAP1AZzc3lKfVQUCQeBTi5hcVhzaEMFkVhKHBEAIfkEBQUACwAsBwAAABkAEQAABGlwybmGGTTrTQzJ37YkSGacGQCIioJNp0Gp4tIqCYxKhRpqiNZBJ1sQVIXa4tAqLWIS1UqZuEmgC1pGIFBQBk2NAuAccwViZ61wFiSVm/aU4oUbuXa4IZfv+zUBgYICP32ChwF/C4gBhBEAIfkEBQUACwAsDgAAABIAGAAABGUQEbSqvVgRvA7lCyFehGGA4Vgh5gmKW9UeKFwdLZrG7feOClOsQgAAUANDwlIwAoYgivOoq0wLtKr1qe16vxWBeEzVjc+CKloAUIC9Bl/XEAi4uvW6AIoE5ANlVQQCeXdadAFuEQAh+QQFBQALACwOAAAAEgAeAAAEgDCdtKq9+KiDB75KCBLEV4XKRaYmaimk14rLQJbm4i53foo2AqtyMBgQJsQQYTRyfAlC04DzTY8+y8CZxQy74CxgTC58P+Q0QKwuhN8WypsgEMDrdcA5WcAL3CYGATIKAHgmBQEBaxeGJgmKAVVdggF2bwKKBm8KkXAAinJhVCYRACH5BAUFAAsALA8AAQARAB8AAAR7cMm5UKIYD6WyT9zhZQeHjBQSohSnXGzFDSkHU/eSlCa7uTSUS3HIeVSKU0yiXDo9hqiUEIRKr6hrlPrsOhUAAMEZDheeZcCIIKAUymOKQSA4T8bqRWAvoQs6HnsBE3R5GYITAHQjiISLh3wTBY8YjS0eAgFtTgQBcUsRACH5BAUFAAsALAgADgAYABIAAARscMlJ61I4n2T7zODheSC2jWiKKio6GIbYWnCNzFRC1AYxK4DbAsGTLQYBQwcAqBxgwgUgECgsBFgJszkiUAMcrEBCYFo9AqrympUUmD4adSwRU7addCDOpk+YHVRcdW0TfBU7FQACgzgffioRACH5BAUFAAsALAIAEgAdAA4AAAR4cMlJq13oUlS0RYqSXUYQGB51hMqRUIpgmik1sMogAXMA6J6B4bVIrEKIkklAkCCYFoXB0JwgVgmCCTUpCAQogFgyNYwsxEnsuxsvDuXaBMBuAyaE6UG++N7tVnE1dAIKc24SeVwpXx2HfxMHZx6GFQUAjnxykDURACH5BAUFAAsALAAADwAZABEAAARnkIhA67o461t72GAmeV9onuiZGCkqCEQLAu8rZ0UtFCiibDXA7yLc+BSDjMKmAQAuhuhFQU2gnM9FlLU4Hk4FZ0wrvRyoiBDByYOWFwnqcJZ1cy8Dasip2WoQVmoaBAZjNxoDBkkbEQAh+QQFBQALACwBAAgAEQAYAAAEXFCFYJa9+JoZBMngAnABMIQYIZBotlFthlRxbd94ru8oAQC2Q+H3qxGBiJbvV7gkDCfQ73MhGAyKhWKLml0t22zoajiAuaAD+RIeX5NnsQuLaYMQcstBYb4lDgkRACH5BAUFAAsALAAAAgAOAB0AAARycMm5iKF4hgAy3oHiTcYmjJOwXSgBImlHAVuRCgIgLkPASgUcrgDzKADCE2qBIywXiedSUQBYr5mrVkahbrnS8A51MBgGI4R57bGsCVFM2UxASxTxhdpwoAwUCkUeCYBjHgeAghkIgH1kgHlGCnYoCYoRADs=") left top no-repeat;
}
/* login form */
.login-dialog .login-dialog-form {
    padding-top: 16px;
}
.login-dialog-form .login-dialog-form-tr {
    height: 32px;
    color: #333;
    text-align: center;
}
.login-dialog-form .login-dialog-form-tr input {
    width: 178px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #b4b4b4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.login-dialog-form .login-dialog-form-tr input:focus {
    border: 1px solid #2f6ceb;
    color: #333;
}
.login-dialog-form .login-dialog-form-tr input.error {
    border: 1px solid #c13d23;
}
/* tip */
.login-dialog-form .login-dialog-form-tip {
    height: 20px;
    padding-left: 125px;
    color: #c13d23;
    /*line-height: 20px;*/
}
.login-dialog-form .login-dialog-form-tip i {
    vertical-align: middle;
}
/* btn */
.login-dialog-submit-btn {
    display: inline-block;
    width: 120px;
    padding: 7px 0;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f60;
}
.login-dialog-submit-btn:hover {
    background-color: #ee950a;
}

/* statusbar */
.login-dialog-subbar {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #8c8c8c;
    text-align: center;
}
.login-dialog-subbar a {
    color: #f60;
    text-decoration: underline;
}
.login-dialog-subbar a:hover {
    color: #ee950a;
    text-decoration: none;
}
.ui-dialog-statusbar {
    font-size: 12px;
    color: #8c8c8c;
    text-align: center;
}
.ui-dialog-statusbar a {
    color: #f60;
    text-decoration: underline;
}
.ui-dialog-statusbar a:hover {
    color: #ee950a;
    text-decoration: none;
}

.login-dialog-form-tr input{
    line-height: 28px;
}