/**
 *  ---------------------------------------------
 *      通用3D图片切换样式
 *      主要用于体验馆和个性定制页面
 *      
 *      author : linyandi
 *      date   :2016-04-02
 *      
 *      modify : linyandi
 *      date   : 2016-04-03
 * 
 *  ---------------------------------------------
 */

.box {
    width: 1190px;
    height: 540px;
    background-color: #F00;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .bg {
        width: 100%;
        height: 340px;
        background: #000;
        filter: alpha(opacity=70);
        opacity: 0.7;
        position: absolute;
        top: 132px;
        left: 0px;
    }
}

.slider3DList {
    width: 1190px;
    height: 540px;
    position: absolute;
    top: 15px;
    display: inline;
    ul {
        margin: 0px;
        padding: 0px;
        float: left;
    }
    li {
        width: 100px;
        position: absolute;
        list-style-type: none;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
        div {
            width: 100%;
            height: 100%;
            background-color: #000;
            filter: alpha(opacity=20);
            opacity: 0.2;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
        }
        .b_tit {
            position: absolute;
            z-index: 1;
            /* bottom: -100%; */
            left: 0px;
            width: 650px;
            height: 38px;
            margin: 0px;
            padding: 20px;
            color: #fff;
            background-color: #000;
            opacity: 0.75;
            filter: alpha(opacity=75);
        }
        .opacity {
            width: 100%;
            height: 120px;
            background: #000;
            filter: alpha(opacity=70);
            opacity: 0.7;
            position: absolute;
            z-index: 1;
            bottom: 0px;
            left: 0px;
        }
        .tit {
            width: 324px;
            height: 120px;
            padding: 0 10px;
            position: absolute;
            z-index: 2;
            bottom: 0px;
            left: 0px;
            em {
                color: #fff;
                line-height: 25px;
                float: left;
                margin: 0px;
                padding: 5px 0;
                font-style: normal;
            }
            span {
                width: 100%;
                height: 30px;
                font-weight: normal;
                float: left;
                text-align: left;
                line-height: 30px;
                color: #fff;
                border-bottom: 1px solid #2f2f2c;
                margin: 0px;
                padding: 0px;
                em {
                    color: #ba0707;
                    font-style: normal;
                    float: none;
                }
            }
        }
    }
    a {
        width: 60px;
        height: 60px;
        background: url(../images/slider-spire.png) no-repeat;
        text-decoration: none;
        position: absolute;
        z-index: 20;
        top: 190px;
        filter: alpha(opacity=35);
        opacity: 0.35;
        &.prev {
            background-position: 0 0;
            left: 0px;
        }
        &.next {
            background-position: 0 -63px;
            right: 0px;
        }
        &.prev:hover,
        &.next:hover {
            filter: alpha(opacity=80);
            opacity: 0.8;
        }
    }
}
