/**
 *  ---------------------------------------------
 *      会员系统通用下拉菜单样式
 *      会员系统内大多数需要用下拉菜单的都引用了此组件
 *      
 *      author : linyandi
 *      date   :2016-04-02
 *      
 *      modify : linyandi
 *      date   : 2016-04-03
 * 
 *  ---------------------------------------------
 */

.select-gray {
    position: relative;
    margin: 0 10px;
    .select-option {
        height: 28px;
        padding-right: 20px;
        line-height: 28px;
        text-indent: 5px;
        border-top: 1px solid #b4b4b4;
        border-bottom: 1px solid #b4b4b4;
        cursor: pointer;
    }
    .select-btn {
        position: absolute;
        z-index: 991;
        right: 5px;
        top: 4px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        .triangle-down {
            display: inline-block;
            border-width: 5px 5px 0 5px;
            border-style: solid solid solid solid;
            border-color: #333 transparent transparent transparent;
        }
    }
    .select-corner {
        display: block;
        width: 5px;
        height: 30px;
        float: left;
    }
    .select-option {
        display: block;
        float: left;
    }
    ul {
        position: absolute;
        z-index: 992;
        left: 0;
        top: 32px;
        display: none;
        border: 1px solid #b4b4b4;
        background-color: #fff;
        li {
            display: inline;
        }
        a {
            display: block;
            min-height: 30px;
            padding: 0 10px;
            line-height: 30px;
            color: #333;
            text-align: center;
            border-bottom: 1px dotted #ccc;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}
