/**
 *  ---------------------------------------------
 *      返利的概况
 *      此模块用在返利详情、返利小店
 *      
 *      author: zhangzhensheng
 *      date  : 2016-04-05
 * 
 *  ---------------------------------------------
 */
.rebate-detail-profile {
	height: 200px;
	.profile-title {
		float: left;
		margin-top: 50px;
		width: 189px;
		height: 100px;
		border-right: 1px solid #000;
		color: #333;
		text-align: center;
		h3 {
			height: 100px;
			line-height: 100px;
			font-size: 18px;
		}
		a {
			color: #8c8c8c;
			&:hover {
				color: #f60;
			}
		}
		.sub {
			margin-top: -22px;
			color: #8c8c8c;
			font-size: 12px;
		}
	}
	.profile-content {
		float: right;
		margin-top: 50px;
		width: 1000px;
		color: #333;
		font-size: 14px;
		span {
			font-size: 24px;
		}
		a {
			margin-left: 70px;
			color: #333;
			&:hover {
				color: #f60;
			}
		}
		.profit {
			margin-right: 30px;
			color: #f60;
		}
		.main {
			margin-left: 60px;
			height: 100px;
			line-height: 100px;
		}
		.sub {
			margin: -22px 0 0 60px;
			color: #8c8c8c;
		}
	}
}