/**
 *  ---------------------------------------------
 *      晒单晒图图片浏览
 *      这个组件在个人中心评价和商品详情页评价模块有用
 *      
 *      author : jinjing
 *      date   : 20160407
 *      
 *      modify : 
 *      date   : 
 * 
 *  ---------------------------------------------
 */
.comments-img-share {
    margin-top: 20px;
    .img-list {
        width: 490px;
        overflow: hidden;
    }
    .img-item {
        float: left;
        margin-right: 10px;
        margin-right: 8px\0;
        cursor: pointer;
        border: 1px solid #ccc;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &.cur {
            border-color: #f60;
        }
        &:hover {
            cursor: url(http://static.jjcdn.com/p/images/member-club/icon_fangda.ico), auto;
        }
        &.cur {
            &:hover {
                cursor: url(http://static.jjcdn.com/p/images/member-club/icon_suoxiao.ico), auto;
            }
        }
        img {
            width: 88px;
            height: 65px;
        }
    }
    .show-img {
        position: relative;
        margin-top: 10px;
        width: 0;
        display: none;
        text-align: center;
        &:hover {
            cursor: url(http://static.jjcdn.com/p/images/member-club/icon_suoxiao.ico), auto;
            .img-big-mark {
                display: block;
            }
            .btn-hide {
                display: inline-block;
            }
        }
        // .img-big-mark {
        //     display: none;
        //     position: absolute;
        //     z-index: 5;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: #fff;
        //     opacity: 0.2;
        // }
        // .btn-hide {
        //     display: none;
        //     position: absolute;
        //     z-index: 6;
        //     left: 50%;
        //     top: 50%;
        //     margin-left: -30px;
        //     margin-top: -30px;
        //     width: 60px;
        //     height: 60px;
        //     color: #fff;
        //     font-size: 14px;
        // }
    }
}
