<div class="send-dialog">
	<p>发送内容：</p>
	<div class="send-content">
		【金海马家居黄埔大道店】<span>展馆地址：</span>黄埔大道中303号金海马家居二楼（地铁五号线科韵路B出口）；<span>营业时间：</span>9：00-21：00；<span>服务电话：</span>020-32321587
	</div>
	<div class="send-op">
		<input class="send-input" name="phone" type="text" placeholder="请输入您的手机号码" /><i class="send-tips">手机号码错误</i>
		<input class="send-input" name="phonecode" type="text" placeholder="请输入手机验证码" /><i class="send-tips">60秒后重新获取验证码</i>
		<a href="javascript:void(0)" class="send-getcode" id="J_getCode">获取手机验证码</a>
	</div>
</div>