<div class="refund-form">
<form action="javascript:void(0);" method="post">
	<table cellpadding="0" cellspacing="0" width="100%">
    	<tr class="refund-form-tr clearfix">
        	<td width="25%" align="right"><label class="refund-form-th">请选择售后服务类型：</label></td>
            <td width="75%">
                <div id="J_selectType" class="select-gray">
                    <i class="select-corner icon-gray-left"></i>
                    <label class="JQ_option select-option w130"><%=applyTypeText%></label>
                    <i class="select-corner icon-gray-right"></i>
                    <a id="J_applyType" href="javascript:void(0);" class="select-btn JQ_selectBtn"><i class="triangle-down"></i></a>
                    <ul>
                        <li><a href="javascript:void(0);" data-value="0">仅退款</a></li>
                        <li><a href="javascript:void(0);" data-value="1">退款退货</a></li>
                        <li><a href="javascript:void(0);" data-value="2">换货</a></li>
                        <li><a href="javascript:void(0);" data-value="3">维修</a></li>
                    </ul>
                    <input type="hidden" name="applyType" value="<%=applyType%>" />
                </div>
            </td> 
        </tr>
        
        <tr class="refund-form-tr clearfix">
        	<td width="25%"><label class="refund-form-th">退款/售后原因：</label></td>
            <td width="75%">
                <div id="J_selectReason" class="select-gray">
                    <i class="select-corner icon-gray-left"></i>
                    <label class="JQ_option select-option w130"><%=applyReasonText%></label>
                    <i class="select-corner icon-gray-right"></i>
                    <a id="J_applyReason" href="javascript:void(0);" class="select-btn JQ_selectBtn"><i class="triangle-down"></i></a>
                    <ul>
                        <li><a href="javascript:void(0);" data-value="0">信息有误，重新购买</a></li>
                        <li><a href="javascript:void(0);" data-value="1">商品质量问题</a></li>
                        <li><a href="javascript:void(0);" data-value="2">物流配送问题</a></li>
                        <li><a href="javascript:void(0);" data-value="3">需要去实体店看看</a></li>
                        <li><a href="javascript:void(0);" data-value="4">协商一致退款</a></li>
                        <li><a href="javascript:void(0);" data-value="5">其他原因</a></li>
                    </ul>
                    <input type="hidden" name="applyReason" value="<%=applyReason%>" />
                </div>
            </td>
        </tr>
        
        <tr class="refund-form-tr clearfix">
        	<td width="25%"><label class="refund-form-th">退款/售后金额：</label></td>
            <td width="75%"><input id="J_applyAmount" type="text" class="refund-form-amount" name="applyAmount" value="<%=applyAmount%>" /></td>
        </tr>
        
        <tr class="refund-form-tr clearfix">
        	<td width="25%" valign="top"><label class="refund-form-th">退款/售后说明：</label></td>
            <td width="75%"><textarea id="J_applyNode" type="text" class="refund-form-note" name="applyNote" ><%=applyNote%></textarea></td>
        </tr>
        
         <tr class="refund-form-tr clearfix">
        	<td width="25%"><label class="refund-form-th">上传凭证：</label></td>
            <td width="75%">
                <a id="J_uploadBtn" href="javascript:void(0);" class="btn-130x30 btn-orange margin-left">上传图片</a>
                <a id="J_uploadBtnHide" href="javascript:void(0);" class="btn-130x30 btn-gray margin-left">上传图片</a>
            </td>
        </tr>
        
        <tr class="refund-form-tr clearfix">
        	<td width="25%"><label class="refund-form-th">&nbsp;</label></td>
        	<td width="75%">
                <ul id="J_itemPicWrap" class="refund-form-pictures clearfix">
                    <%for(var i=0; i<pictures.length; i++){%>
                    <li class="JQ_pictureItem">
                        <img src="<%=pictures[i].thumbPic%>" width="100" height="80">
                        <span class="item-mark">
                            <a href="javascript:void(0);" class="icon-refund-delete JQ_delPic">删除</a>
                            <a href="<%=pictures[i].bigPic%>" class="icon-refund-find JQ_blowUpPic" target="_blank">放大</a>
                        </span>
                    </li>
                    <%}%>
                </ul>
            </td>
        </tr>
        
        <tr class="refund-form-tr clearfix">
        	<td width="25%"><label class="refund-form-th">&nbsp;</label></td>
        	<td width="75%"><span class="fc-8c8">每张图片大小不超过5M，最多3张，支持GIF、JPG、PNG、BMP格式</span></td>
        </tr>

    </table>
</form>
</div>