.ac-tz {
    margin: 0 auto;
    width: 1190px;
    text-align: left;
    background: #BDC2D6;
}

.ac-tz-label {
    position: relative;
}

.ac-tz-label ul {
    float: left;
}

.ac-tz-label ul li {
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #703939;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #FFF;
}

.ac-tz-label ul li.on,
.ac-tz-label ul li:hover {
    color: #FFF;
    background: #F10034;
}

.ac-tz .bd ul {
    zoom: 1;
}

.ac-tz .bd li {
    height: 614px;
    overflow: hidden;
}

.ac-tz-label .arrow {
    position: absolute;
    z-index: 10;
    top: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 62px;
    height: 62px;
    background: url("../img/slider-arrow.png") no-repeat;
}

.ac-tz-label .prev {
    right: 1100px;
    background-position: -2px -1px;
}

.ac-tz-label .next {
    left: 1108px;
    background-position: -66px -1px;
}

.ac-tz-label .prev:hover {
    background-position: -2px -65px;
}

.ac-tz-label .next:hover {
    background-position: -66px -65px;
}

.ac-tz-part ul {
    width: 1190px;
    background: #DCE0EC;
}

.ac-tz-part ul li {
    height: 614px;
    padding: 10px;
    padding-bottom: 0;
}

.ac-tz-part ul li img {
    width: 100%;
    height: 100%;
}

.ac-tz-all {
    width: 1190px;
    background: #DCE0EC;
}

.ac-tz-all .inner {
    height: 220px;
    padding: 10px;
    padding-top: 0;
}

.ac-tz-all img {
    width: 100%;
    height: 100%;
}
