<section class="top-bar">
    <div class="w1190 clearfix">
        <div class="top-login-status">
            <!-- 未登录 开始 -->
            <a href="http://passport.kinhom.com/" class="top-login">请登录</a>
            <span class="line">|</span>
            <a href="http://my.kinhom.com/passport/register" class="top-reg">注册有礼</a>
            <!-- 未登录 结束 -->
            <!-- 已登录 开始 -->
            <span class="top-logined">你好，<a href="#" class="top-login-user">13535029962</a></span>
            <span class="line">|</span>
            <a href="#" class="top-logout">退出</a>
            <!-- 已登录 结束 -->
        </div>
        <div class="top-nav">
            <a href="http://item.kinhom.com/default/download?from=tb" id="J_topNavWap" class="top-nav-wap nav-font-orange">
                手机金海马
                <img src="http://misc.jjcdn.com/p/images/top_bar_float_app.png">
            </a>
            <span>|</span>
            <a href="http://my.kinhom.com/user/orderlist?from=tb" class="">我的订单</a>
            <span>|</span>
            <a href="http://my.kinhom.com/user?from=tb" class="">个人中心</a>
            <span>|</span>
            <a href="http://my.kinhom.com/club?from=tb" class="">会员俱乐部</a>
            <span>|</span>
            <a href="http://www.kinhom.com/articles/ask/" class="">家具问答</a>
            <span>|</span>
            <a href="http://www.kinhom.com/help?from=tb" class="">帮助中心</a>
        </div>
    </div>
</section>
