<header class="w1190 clearfix">
	<div class="logo fl">
		<A href="/" class="head-logo"><img  src="@@cdn/p/images/logo.png" width="140" height="96" id="J_indexLogo" /></A>
		<a href="javascript:void(0);" class="head-logo-ad"><img  src="@@cdn/p/images/ad-logo.png" alt="" width="200" height="96"></a>
	</div>

	<div class="head-search">
		<div class="search-bar">
			<form class="JQ_searchForm" action="http://www.baidu.com" method="post">
				<input type="text" name="keyword" class="search-keyword JQ_searchKeyword w380" />
				<a class="seach-btn-big JQ_searchBarBtn " href="javascript:void(0);">
					<i class="icon-s-small-fff"></i>
				</a>
				<span class="JQ_hotKeyTip hot-keyword-tip">金海马床垫</span>
			</form>
		</div>
		<div class="head-search-hot-key">
			<a href="javascript:void(0);">凡尔特</a>
			<span>|</span>
			<a href="javascript:void(0);">金海马</a>
			<span>|</span>
			<a href="javascript:void(0);" class="hot-key">床垫</a>
			<span>|</span>
			<a href="javascript:void(0);" class="hot-key">沙发</a>
			<span>|</span>
			<a href="javascript:void(0);">软床</a>
			<span>|</span>
			<a href="javascript:void(0);">儿童床</a>
		</div>
	</div>
</header>