<nav class="head-nav">
    <dl class="head-nav-list">
        <!-- 全部分类 -->
        <dt class="head-nav-all-category aside-small JQ_headNavCats">
            <a href="javascript:void(0);" class="all-cats-btn">全部商品分类</a>
            <aside class="main-aside-menu   " id="J_leftAllCats">
                <ul>
                    <li class="aside-menu-item aside-item-1 aside-border-bottom clearfix">
                        <!-- 分类名称和icon -->
                        <div class="aside-icons">
                            <i class="icon-aside-sofa"></i>
                            <label class="icons-cat-list clearfix">
                                <a href="http://search.kinhom.com/list.html?cat=211&amp;rid=1" target="_blank">客厅</a><span class="aside-icon-line">|</span><a href="http://search.kinhom.com/list.html?cat=213&amp;rid=2" target="_blank">餐厅</a>
                            </label>
                        </div>
                        <!-- 热门关键字 -->
                        <p class="aside-hots clearfix">
                            <a href="http://search.kinhom.com/list.html?cat=244&amp;rid=76" class="high-light" target="_blank">沙发</a>
                            <a href="http://search.kinhom.com/list.html?cat=250&amp;rid=8" target="_blank">茶几</a>
                            <a href="http://search.kinhom.com/list.html?cat=252&amp;rid=12" target="_blank">电视柜/地柜</a>
                            <a href="http://search.kinhom.com/list.html?cat=264&amp;rid=26" target="_blank">餐桌</a>
                        </p>
                        <span class="aside-point-right">&gt;</span>
                        <span class="aside-item-line"></span>
                        <div class="aside-sub-menu clearfix">
                            <!-- 左边列表和广告 -->
                            <div class="sub-menu-left fl">
                                <div class="sub-menu-cats">
                                    <dl>
        <dt>
            <a href="http://search.kinhom.com/list.html?cat=211&amp;rid=1" target="_blank">客厅</a>
        </dt>
        <dd>
            <a href="http://search.kinhom.com/list.html?cat=244&amp;brand=&amp;style=&amp;spec=655&amp;rid=9" target="_blank">真皮沙发</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=244&amp;brand=&amp;style=&amp;spec=658&amp;rid=10" class="hot" target="_blank">布艺沙发</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=247&amp;rid=11" target="_blank">沙发床</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=252&amp;rid=12" class="hot" target="_blank">电视柜/地柜</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=250&amp;rid=8" class="hot" target="_blank">茶几</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=255&amp;rid=13" target="_blank">鞋柜（架）</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=256&amp;rid=14" target="_blank">斗柜</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=259&amp;rid=15" target="_blank">花架/书报架(柜)</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=262&amp;rid=16" class="hot" target="_blank">酒柜/饰品柜(架)/间厅柜</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=354&amp;rid=17" target="_blank">客厅小配件 </a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=304&amp;rid=18" target="_blank">休闲几</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=307&amp;rid=19" target="_blank">休闲椅</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=309&amp;rid=20" target="_blank">电话几</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=310&amp;rid=21" target="_blank">凳子/折叠椅</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=363&amp;rid=22" target="_blank">折叠床</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=313&amp;rid=23" target="_blank">吧台</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=315&amp;rid=24" target="_blank">吧椅</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=492&amp;rid=25" class="hot" target="_blank">客厅套装</a>
            <span>|</span>
        </dd>
    </dl>
    <dl>
        <dt>
            <a href="http://search.kinhom.com/list.html?cat=213&amp;rid=2" target="_blank">餐厅</a>
        </dt>
        <dd>
            <a href="http://search.kinhom.com/list.html?cat=264&amp;rid=26" class="hot" target="_blank">餐桌</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=267&amp;rid=27" target="_blank">餐椅</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=270&amp;rid=28" target="_blank">餐(边)柜</a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=271&amp;rid=29" target="_blank">餐车 </a>
            <span>|</span>
            <a href="http://search.kinhom.com/list.html?cat=274&amp;rid=30" class="hot" target="_blank">餐厅套装</a>
            <span>|</span>
        </dd>
    </dl>
    </div>
    <div class="sub-menu-ad">
        <a href="http://item.kinhom.com/7273.html?from=flgg" target="_blank"><img src="http://img3.jjcdn.com//g1/M00/03/69/CvoBNFZNP9CAU6k2AADzRpHKUpA687.jpg" alt="功能靠头灰色绒布沙发" width="390" height="160" pagespeed_url_hash="4234300817" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a> </div>
    </div>
    <!-- 右边热门产品列表 -->
    <div class="sub-menu-right fl">
        <ul>
            <li class="sub-hot-sale">
                <a href="http://item.kinhom.com/52961.html" class="hot-sale-item" target="_blank">
                    <img src="//img1.jjcdn.com/g1/M00/02/B2/CvoBNFWshVOASywPAAJ3PPBXIQw148.JPG" alt="" width="190" height="127" pagespeed_url_hash="4085229849" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <span class="hot-sale-title">超值特卖 现代简约 米黄色 真皮 沙发组合（3+坐下左贵妃）</span>
                </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>3.5折</label>
<span>¥ 3999.00</span>
</span>
            </li>
            <li class="sub-hot-sale">
                <a href="http://item.kinhom.com/52031.html" class="hot-sale-item" target="_blank">
                    <img src="//img0.jjcdn.com/g1/M00/02/C6/CvoBNFXBqxeAX5nEAAVKsIGG7mg671.jpg" alt="" width="190" height="127" pagespeed_url_hash="2604441988" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <span class="hot-sale-title">现代简约 白色餐台 钢化玻璃 餐厅套装（1桌4花椅）</span>
                </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5.5折</label>
<span>¥ 2582.00</span>
</span>
            </li>
        </ul>
    </div>
    </div>
    </li>
    <li class="aside-menu-item aside-item-2 aside-border-bottom clearfix">
        <!-- 分类名称和icon -->
        <div class="aside-icons">
            <i class="icon-aside-bed"></i>
            <label class="icons-cat-list clearfix">
                <a href="http://search.kinhom.com/list.html?cat=210&amp;rid=3" target="_blank">卧房</a><span class="aside-icon-line">|</span><a href="http://search.kinhom.com/list.html?cat=214&amp;rid=4" target="_blank">书房</a>
            </label>
        </div>
        <!-- 热门关键字 -->
        <p class="aside-hots clearfix">
            <a href="http://search.kinhom.com/list.html?cat=223&amp;rid=32" class="high-light" target="_blank">床</a>
            <a href="http://search.kinhom.com/list.html?cat=226&amp;rid=33" class="high-light" target="_blank">床垫</a>
            <a href="http://search.kinhom.com/list.html?cat=231&amp;rid=35" target="_blank">衣柜</a>
            <a href="http://search.kinhom.com/list.html?cat=277&amp;rid=41" target="_blank">书桌/电脑桌 </a>
        </p>
        <span class="aside-point-right">&gt;</span>
        <span class="aside-item-line"></span>
        <div class="aside-sub-menu clearfix">
            <!-- 左边列表和广告 -->
            <div class="sub-menu-left fl">
                <div class="sub-menu-cats">
                    <dl>
                        <dt>
                            <a href="http://search.kinhom.com/list.html?cat=210&amp;rid=3" target="_blank">卧房</a>
                        </dt>
                        <dd>
                            <a href="http://search.kinhom.com/list.html?cat=223&amp;rid=32" class="hot" target="_blank">床</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=226&amp;rid=33" class="hot" target="_blank">床垫</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=229&amp;rid=34" target="_blank">床头柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=231&amp;rid=35" target="_blank">衣柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=234&amp;rid=36" target="_blank">妆台/妆镜/妆凳</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=237&amp;rid=37" target="_blank">衣帽架/穿衣镜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=238&amp;rid=38" target="_blank">贵妃椅/床尾凳</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=240&amp;rid=39" target="_blank">卧房小配件</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=241&amp;rid=40" class="hot" target="_blank">卧房套装</a>
                            <span>|</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href="http://search.kinhom.com/list.html?cat=214&amp;rid=4" target="_blank">书房</a>
                        </dt>
                        <dd>
                            <a href="http://search.kinhom.com/list.html?cat=277&amp;rid=41" class="hot" target="_blank">书桌/电脑桌 </a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=279&amp;rid=42" target="_blank">书椅/转椅</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=282&amp;rid=43" class="hot" target="_blank">书柜(架)</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=283&amp;rid=44" target="_blank">书房小配件</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=285&amp;rid=45" target="_blank">书房套装</a>
                            <span>|</span>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu-ad">
                    <a href="http://item.kinhom.com/66182.html" target="_blank"><img src="http://img1.jjcdn.com//g1/M00/03/86/CvoBNFZr-ZSAQ-kgAACs66-TnmY933.jpg" alt="卧房5件套" width="390" height="160" pagespeed_url_hash="828949304" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a> </div>
            </div>
            <!-- 右边热门产品列表 -->
            <div class="sub-menu-right fl">
                <ul>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/51791.html" class="hot-sale-item" target="_blank">
                            <img src="//img2.jjcdn.com/g1/M00/00/15/CvoBM1WO_suACAqEAAatUfZSVJw252.jpg" alt="" width="190" height="127" pagespeed_url_hash="562135719" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">超值特卖 现代简约 黄胡桃色 实木颗粒板 卧房5件套（1.8米床*1+床头柜*1+趟门衣柜*1+妆台*1+妆凳*1）</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>4折</label>
<span>¥ 8005.00</span>
</span>
                    </li>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/143.html" class="hot-sale-item" target="_blank">
                            <img src="//img3.jjcdn.com/g1/M00/03/3F/CvoBNFYhDSaAL7_gAASJGdlEN0E271.jpg" alt="" width="190" height="127" pagespeed_url_hash="917787868" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">超值特卖 软硬两用 白色提花 高碳素6环弹簧+1.5CM3D椰棕 金海马相伴一生床垫（1.5*1.9）</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>3.6折</label>
<span>¥ 1399.00</span>
</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="aside-menu-item aside-item-3 aside-border-bottom clearfix">
        <!-- 分类名称和icon -->
        <div class="aside-icons">
            <i class="icon-aside-office"></i>
            <label class="icons-cat-list clearfix">
                <a href="http://search.kinhom.com/list.html?cat=219&amp;rid=5" target="_blank">办公家具</a> </label>
        </div>
        <!-- 热门关键字 -->
        <p class="aside-hots clearfix">
            <a href="http://search.kinhom.com/list.html?cat=319&amp;rid=48" target="_blank">办公椅</a>
            <a href="http://search.kinhom.com/list.html?cat=318&amp;rid=46" target="_blank">办公桌(台)</a>
            <a href="http://search.kinhom.com/list.html?cat=327&amp;rid=51" class="high-light" target="_blank">办公屏风</a>
            <a href="http://search.kinhom.com/list.html?cat=331&amp;rid=53" target="_blank">保险柜</a>
        </p>
        <span class="aside-point-right">&gt;</span>
        <span class="aside-item-line"></span>
        <div class="aside-sub-menu clearfix">
            <!-- 左边列表和广告 -->
            <div class="sub-menu-left fl">
                <div class="sub-menu-cats">
                    <dl>
                        <dt>
                            <a href="http://search.kinhom.com/list.html?cat=219&amp;rid=5" target="_blank">办公家具</a>
                        </dt>
                        <dd>
                            <a href="http://search.kinhom.com/list.html?cat=318&amp;rid=46" class="hot" target="_blank">办公桌(台)</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=490&amp;rid=47" target="_blank">电脑桌</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=319&amp;rid=48" class="hot" target="_blank">办公椅</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=322&amp;rid=49" class="hot" target="_blank">办公沙发</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=325&amp;rid=50" target="_blank">办公茶几</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=327&amp;rid=51" class="hot" target="_blank">办公屏风</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=328&amp;rid=52" target="_blank">文件柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=331&amp;rid=53" target="_blank">保险柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=334&amp;rid=54" class="hot" target="_blank">书柜(架)</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=337&amp;rid=55" target="_blank">洽谈台/会议台</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=340&amp;rid=56" target="_blank">前台/接待台</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=365&amp;rid=57" target="_blank">办公茶水柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=342&amp;rid=58" target="_blank">办公小配件</a>
                            <span>|</span>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu-ad">
                    <a href="http://item.kinhom.com/10672.html?from=flgg" target="_blank"><img src="http://img1.jjcdn.com//g1/M00/03/60/CvoBNFY7IdqAXrO5AACL5ljkOrE058.jpg" alt="环保材质 健康办公" width="390" height="160" pagespeed_url_hash="226697578" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a> </div>
            </div>
            <!-- 右边热门产品列表 -->
            <div class="sub-menu-right fl">
                <ul>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/13027.html" class="hot-sale-item" target="_blank">
                            <img src="//img2.jjcdn.com/g1/M00/02/53/CvoBNFU0dWGAPpL7AAFDo5St8xs714.jpg" alt="" width="190" height="127" pagespeed_url_hash="3867136759" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">办公家具 现代简约 灰松木色 三氨板 对向两人位屏风</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>3.3折</label>
<span>¥ 1880.00</span>
</span>
                    </li>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/41012.html" class="hot-sale-item" target="_blank">
                            <img src="//img2.jjcdn.com/g1/M00/01/E5/CvoBM1RQR2eAUoPMAAB7fFPOP04714.jpg" alt="" width="190" height="127" pagespeed_url_hash="3852491205" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">超值特卖 办公家具 梵尔特系列 现代简约 红色配黑色 网布 办公椅</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5折</label>
<span>¥ 799.00</span>
</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="aside-menu-item aside-item-4 aside-border-bottom clearfix">
        <!-- 分类名称和icon -->
        <div class="aside-icons">
            <i class="icon-aside-baby"></i>
            <label class="icons-cat-list clearfix">
                <a href="http://search.kinhom.com/list.html?cat=216&amp;rid=6" target="_blank">儿童家具</a> </label>
        </div>
        <!-- 热门关键字 -->
        <p class="aside-hots clearfix">
            <a href="http://search.kinhom.com/list.html?cat=286&amp;rid=77" class="high-light" target="_blank">儿童床</a>
            <a href="http://search.kinhom.com/list.html?cat=291&amp;rid=60" target="_blank">儿童衣柜</a>
            <a href="http://search.kinhom.com/list.html?cat=357&amp;rid=65" target="_blank">儿童斗柜</a>
            <a href="http://search.kinhom.com/list.html?cat=360&amp;rid=63" target="_blank">儿童书椅/转椅</a>
        </p>
        <span class="aside-point-right">&gt;</span>
        <span class="aside-item-line"></span>
        <div class="aside-sub-menu clearfix">
            <!-- 左边列表和广告 -->
            <div class="sub-menu-left fl">
                <div class="sub-menu-cats">
                    <dl>
                        <dt>
                            <a href="http://search.kinhom.com/list.html?cat=216&amp;rid=6" target="_blank">儿童家具</a>
                        </dt>
                        <dd>
                            <a href="http://search.kinhom.com/list.html?cat=286&amp;rid=77" class="hot" target="_blank">儿童床</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=289&amp;rid=59" target="_blank">儿童床头柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=291&amp;rid=60" target="_blank">儿童衣柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=294&amp;rid=61" target="_blank">儿童妆台/妆镜/妆凳</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=295&amp;rid=62" class="hot" target="_blank">儿童书桌/电脑桌</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=360&amp;rid=63" target="_blank">儿童书椅/转椅</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=297&amp;rid=64" class="hot" target="_blank">儿童书柜(架)</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=357&amp;rid=65" target="_blank">儿童斗柜</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=300&amp;rid=66" target="_blank">儿童房小配件</a>
                            <span>|</span>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu-ad">
                    <a href="http://item.kinhom.com/6575.html?from=flgg" target="_blank"><img src="http://img1.jjcdn.com/g1/M00/03/72/CvoBNFZX94iANP8TAAC6AlaEhb0169.jpg" alt="对向四人梯形台" width="390" height="160" pagespeed_url_hash="1554150074" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a> </div>
            </div>
            <!-- 右边热门产品列表 -->
            <div class="sub-menu-right fl">
                <ul>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/11326.html" class="hot-sale-item" target="_blank">
                            <img src="//img1.jjcdn.com/g1/M00/01/7C/CvoBM1M2f6yAWK3GAADDO8eSlk0050.jpg" alt="" width="190" height="127" pagespeed_url_hash="3202612882" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">幸福童年 现代简约 儿童色彩 组合床</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5.6折</label>
<span>¥ 5360.00</span>
</span>
                    </li>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/11413.html" class="hot-sale-item" target="_blank">
                            <img src="//img3.jjcdn.com/g1/M00/01/7D/CvoBNFM2kIeAY5MkAAH9abUHbMs556.jpg" alt="" width="190" height="127" pagespeed_url_hash="319417021" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">幸福童年 现代简约 儿童色彩 书台椅</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5.6折</label>
<span>¥ 3288.00</span>
</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="aside-menu-item aside-item-5 aside-border-bottom clearfix">
        <!-- 分类名称和icon -->
        <div class="aside-icons">
            <i class="icon-aside-store"></i>
            <label class="icons-cat-list clearfix">
                <a href="http://search.kinhom.com/list.html?cat=222&amp;rid=7" target="_blank">家居百货</a> </label>
        </div>
        <!-- 热门关键字 -->
        <p class="aside-hots clearfix">
            <a href="http://search.kinhom.com/list.html?cat=345&amp;rid=68" target="_blank">床品套件</a>
        </p>
        <span class="aside-point-right">&gt;</span>
        <span class="aside-item-line"></span>
        <div class="aside-sub-menu clearfix">
            <!-- 左边列表和广告 -->
            <div class="sub-menu-left fl">
                <div class="sub-menu-cats">
                    <dl>
                        <dt>
                            <a href="http://search.kinhom.com/list.html?cat=222&amp;rid=7" target="_blank">家居百货</a>
                        </dt>
                        <dd>
                            <a href="http://search.kinhom.com/list.html?cat=345&amp;rid=68" class="hot" target="_blank">床品套件</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=346&amp;rid=69" target="_blank">被子</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=348&amp;rid=70" target="_blank">枕头</a>
                            <span>|</span>
                            <a href="http://search.kinhom.com/list.html?cat=483&amp;rid=75" target="_blank">地毯</a>
                            <span>|</span>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu-ad">
                    <a href="http://item.kinhom.com/44615.html?from=flgg" target="_blank"><img src="http://img0.jjcdn.com//g1/M00/03/4B/CvoBNFYvNfCAYqwIAADDMh7WmX8578.jpg" alt="防螨防虫时尚好搭五件套" width="390" height="160" pagespeed_url_hash="2574077717" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a> </div>
            </div>
            <!-- 右边热门产品列表 -->
            <div class="sub-menu-right fl">
                <ul>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/44648.html" class="hot-sale-item" target="_blank">
                            <img src="//img3.jjcdn.com/g1/M00/02/0F/CvoBNFR1TSuAMQ8MAAJwadTZBz0264.jpg" alt="" width="190" height="127" pagespeed_url_hash="3090643290" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">现代简约 裸色 涤纶 五件套（1.5*2.0）</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5折</label>
<span>¥ 1050.00</span>
</span>
                    </li>
                    <li class="sub-hot-sale">
                        <a href="http://item.kinhom.com/44834.html" class="hot-sale-item" target="_blank">
                            <img src="//img.jjcdn.com/g1/M00/02/13/CvoBM1R_8eiAYe_1AAG9U46iEq0222.jpg" alt="" width="190" height="127" pagespeed_url_hash="3540954882" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <span class="hot-sale-title">现代简约 白色 乳胶棉 金海马乳胶枕芯</span>
                        </a>
<span class="hot-sale-text">
<label>热销榜</label>
<label>5折</label>
<span>¥ 349.00</span>
</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    </ul>
    </aside>
    </dt>
    <!-- 主导航 -->
    <dd class="head-nav-menu JQ_headNavMenu">
        <ul>
            <li class="item">
                <a class="nav-item cur" href="http://www.kinhom.com/?from=daohang1" target="_blank">
                    首页 </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://sale.kinhom.com/ac201506?from=daohang1" target="_blank">
                    爆款推荐 <i class="icon-nav-hot hot">HOT</i>
                </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://sale.kinhom.com/livingroom?from=daohang1" target="_blank">
                    超值特卖 </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://sale.kinhom.com/1184.html?from=daohang1" target="_blank">
                    套装搭配 <i class="icon-nav-hot hot">HOT</i>
                </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://sale.kinhom.com/1196.html?from=daohang1" target="_blank">
                    现代办公 </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://www.kinhom.com/offline?from=daohang1" target="_blank">
                    体验馆 </a>
            </li>
            <li class="item">
                <a class="nav-item" href="http://www.kinhom.com/articles/?from=daohang1" target="_blank">
                    装修汇 </a>
            </li>
            <li class="nav-right-btn">
                <a href="http://my.kinhom.com/club/representshop" target="_blank">
                    <i class="nav-rebate-icon"></i>
                    返利商城
                </a>
            </li>
        </ul>
        <span class="head-nav-line JQ_headNavLine" style="width: 28px; left: 15px;"></span>
    </dd>
    </dl>
</nav>