<section class="top-bar">
    <div class="w1190">
        <div class="top-hot-line">
            <i class="icon-top-hotline"></i>
            <span>服务热线：4006-538-038</span>
        </div>
        <div class="top-nav">
            <span>|</span>
            <a href="http://my.kinhom.com/club?from=tb" class="">会员俱乐部</a>
            <span>|</span>
            <a href="http://my.kinhom.com/club/representshop?from=tb" class="">返利商城</a>
            <span>|</span>
            <a href="http://my.kinhom.com/user?from=tb" class="top-nav-accout">我的金海马</a>
            <span>|</span>
            <a href="http://my.kinhom.com/user/orderlist?from=tb" class="">我的订单</a>
            <span>|</span>
            <a href="http://item.kinhom.com/default/download?from=tb" class="top-nav-wap">移动客户端</a>
            <span>|</span>
            <a href="http://www.kinhom.com/help?from=tb" class="">帮助中心</a>
            <span>|</span>
            <a href="http://www.kinhom.com/articles/ask/" class="">家居问答</a>
            <span>|</span>
            <a href="" class="">收藏本站</a>
        </div>
        <div class="top-login-status">
            <label>Hi ~ 请 </label>
            <a href="http://passport.kinhom.com/">[登录]</a>
            <a href="http://my.kinhom.com/passport/register">[免费注册]</a>
        </div>
        <div class="clear"></div>
    </div>
</section>