/*
 *  315版本首页样式
 *  editor: jinjing
 *  date: 2016/02/25
 */


/*
 *  315活动商品列表样式 =====================
 */

.index-feast {
    margin: 50px 0;
}

// 315活动商品列表标题部分
.feast-title {
    a,
    img {
        display: block;
    }
}


/*
 *  315商品列表样式 =====================
 */

.index-feastList {
    margin: 50px 0;
}

.feastList-sp {
    width: 100%;
    height: 678px;
    margin-top: 40px;
    background: #ebebeb;
    .pic {
        width: 100%;
        height: 678px;
        margin: 0 auto;
        a {
            display: block;
        }
        img {
            width: 100%;
            height: 393px;
        }
    }
    // .info {
    //     width: 480px;
    //     height: 393px;
    //     float: left;
    //     padding: 0 60px;
    //     text-align: left;
    //     .title {
    //         margin-top: 50px;
    //         font-size: 30px;
    //         color: #333;
    //     }
    //     .name {
    //         margin-top: 29px;
    //         padding-bottom: 10px;
    //         font-size: 12px;
    //         overflow: hidden;
    //         color: #333;
    //     }
    //     .sub-name {
    //         position: relative;
    //         padding-left: 16px;
    //         font-size: 24px;
    //         font-weight: bold;
    //         overflow: hidden;
    //         color: #1d8d12;
    //         &:before {
    //             content: ".";
    //             position: absolute;
    //             top: -15px;
    //             left: 0;
    //             font-size: 34px;
    //         }
    //     }
    //     .btn-line {
    //         margin-top: 20px;
    //         .btn-buy {
    //             width: 130px;
    //             height: 140px;
    //             display: block;
    //             float: left;
    //             padding-right: 12px;
    //             font-size: 40px;
    //             font-weight: bold;
    //             text-align: right;
    //             line-height: 140px;
    //             color: #fbef05;
    //             background: url("../images/index-315/index_315_sprite.png") no-repeat 0 0;
    //         }
    //         .price {
    //             position: relative;
    //             width: 146px;
    //             height: 140px;
    //             display: block;
    //             float: left;
    //             margin-left: 22px;
    //             font-size: 20px;
    //             line-height: 140px;
    //             color: #333;
    //             i {
    //                 position: relative;
    //                 top: -3px;
    //             }
    //         }
    //         .line-through {
    //             position: absolute;
    //             left: -2px;
    //             top: 50%;
    //             width: 140px;
    //             height: 1px;
    //             display: block;
    //             margin-top: -0.5px;
    //             background: #333;
    //         }
    //     }
    // }
}

// 315商品列表标题部分
.feastList-title {
    a,
    img {
        display: block;
    }
}

.feastList-sub-title {
    margin: 21px auto 0;
}

// 315商品列表
.feastList-list {
    margin-top: 25px;
    li {
        float: left;
        padding: 20px 0 20px 54px;
        border: solid #e0e0e0;
        border-width: 1px 0 0 1px;
        &.item-1,
        &.item-3,
        &.item-5,
        &.item-7,
        &.item-9 {
            padding: 20px 53px 0 0;
            border-left: none;
        }
    }
    .pro-img {
        position: relative;
        width: 540px;
        height: 360px;
        img {
            display: block;
            width: 540px;
            height: 360px;
        }
        .icon {
            position: absolute;
            z-index: 99;
            display: block;
            background: url(../images/index-315/index_315_sprite.png) no-repeat;
        }
        .icon-like100p {
            right: 94px;
            bottom: 10px;
            width: 74px;
            height: 74px;
            background-position: 0 0;
        }
        .icon-48h {
            right: 10px;
            bottom: 10px;
            width: 74px;
            height: 74px;
            background-position: -74px 0;
        }
    }
    .pro-detail {
        position: relative;
        width: 540px;
        margin-top: 10px;
    }
    .pro-detail-title {
        position: relative;
        z-index: 1;
        text-align: center;
        .tag-txt {
            position: relative;
            z-index: 2;
            display: inline-block;
            padding: 0 5px;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            color: #e61e00;
            background: #fff;
        }
        .tag-line {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            display: block;
            margin-top: -0.5px;
            width: 540px;
            height: 1px;
            background: #e61e00;
        }
    }
    .pro-title {
        display: block;
        width: 540px;
        margin: 11px 0 8px;
        font-size: 16px;
        line-height: 20px;
        color: #333;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.pro-price {
    position: relative;
    width: 492px;
    height: 32px;
    padding: 15px 23px;
    background: #fff;
    border: 1px solid #ccc;
    .icon-cheap {
        position: absolute;
        z-index: 99;
        right: 0;
        bottom: 0;
        width: 62px;
        height: 62px;
        display: block;
        background: url(../images/index-315/index_315_sprite.png) no-repeat -150px 0;
    }
    .market-price {
        width: 165px;
        height: 37px;
        float: left;
        font-size: 24px;
        line-height: 37px;
        text-align: right;
        color: #333;
        .market-price-txt {
            //font-size: 12px;
            //padding-right: 8px;
            font-weight: normal;
            text-align: center;
        }
        i {
            position: relative;
            top: -3px;
        }
        .price {
            font-style: normal;
        }
    }
    .market-price-line {
        position: relative;
        width: 85px;
        height: 31px;
        display: inline-block;
        .line-through {
            position: absolute;
            right: -3px;
            top: 20px;
            margin: 0 auto;
            width: 85px;
            height: 2px;
            display: block;
            background: #333;
        }
    }
    .act-price {
        width: 130px;
        height: 37px;
        float: left;
        padding-left: 10px;
        margin-left: 10px;
        color: #e61e00;
        border-left: 1px solid #ccc;
        i {
            position: relative;
            top: -2px;
        }
        span {
            display: inline-block;
        }
        .act-price-txt {
            position: relative;
            top: -3px;
            font-size: 12px;
            color: #e61e00;
        }
        .price {
            margin-top: 5px;
            font-size: 24px;
            line-height: 12px;
        }
    }
    .btn-buy {
        position: absolute;
        z-index: 2;
        right: 87px;
        top: 50%;
        width: 139px;
        height: 39px;
        display: block;
        margin-top: -19.5px;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        line-height: 40px;
        color: #e61e00;
        background: #fff;
        border: 1px solid #e61e00;
    }
}

// 315活动商品列表下方的广告
.index-315-ad {
    margin-top: 50px;
    a {
        display: block;
        img {
            display: block;
            width: 1190px;
            height: 92px;
        }
    }
}
