@charset "UTF-8";
@import "../layout/layout.scss";          // base
           // grid-system
          // icon-system
@import "../components/common-top-bar.scss";       // global-top-bar

@import "../components/member-head.scss";    // main-head
@import "../components/common-foot.scss";  // global-footer


/* 
 *    加入购物车成功反馈页 
 *    author : linyandi
 *    date   : 2015-05-08 
*/
.add-cart-tip {
	padding: 50px 0 20px 0;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #333;
}
.add-cart-tip i {
	vertical-align: middle;
}
/* 按钮区域 */
.add-cart-btns .add-cart-btn {
	display: inline-block;
	width: 190px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	background-color: #f60;
}
.add-cart-btns .add-cart-btn:hover {
	background-color: #ee950a;
}
.add-cart-btns .add-cart-btn i {
	vertical-align: middle;
}
/* 文字提示区域 */
.add-cart-text {
	line-height: 30px;
	color: #8c8c8c;
	font-size: 14px;
}
.add-cart-text a {
	color: #2f6ceb;
}
.add-cart-text a:hover {
	color: #f60;
}