@charset "UTF-8";
@import "../layout/layout.scss";          // base
           // grid-system
@import "../layout/sprite.scss";         // icon-sprite
          // icon-system
@import "../components/common-top-bar.scss";       // global-top-bar

@import "../components/member-head.scss";    // main-head
@import "../components/common-foot.scss";  // global-footer

@import "../components/member-ui.scss";     // head-search-bar
@import "../components/member-aside.scss";     // member-aside
@import "../components/member-nav.scss";    // member-system-nav

/*
 *  aftersales-service-apply 售后服务申请
 *
 *  author:JinJing
 *  date:20150309
*/

body {
    background: #e4e4e4;
}
.w120{
    width: 120px;
}
.w180{
    width: 180px;
}

/*=================  售后服务申请列表   ===============*/
.service-apply-main{
    width: 980px;
    padding-bottom: 30px;
}
.service-apply-main .service-apply-form{
    padding: 30px 0 10px 10px;
    margin: 30px 0 0 10px;
    background: #fff;
}
/*售后申请表*/
.service-apply-table .service-apply-item{
    width: 630px;
    clear: both;
}
.service-apply-table .service-apply-item th{
    width: 120px;
    padding-bottom: 22px;
    text-align: right;
    vertical-align: top;
    line-height: 30px;
    
}
.service-apply-table .service-apply-item td{
    padding-bottom: 22px;
}
.service-apply-item dd .select-gray ul{
   
}
.service-apply-item .service-apply-from-voucher label{
    color: #c13d23;
    vertical-align: bottom;
}
/*表单输入框*/
.service-apply-item .service-apply-input-border{
    width: 179px;
    height: 28px;
    margin-left: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
}
.service-apply-item .service-apply-input-border .service-apply-input{
     padding: 5px 10px 0 10px;   
}
/*售后说明*/
.service-apply-item .service-apply-textarea{
    width: 400px;
    height: 90px;
    margin-left: 10px;
    resize:none;
}
/*上传凭证*/
.service-apply-item .service-apply-from-voucher{
    height: 40px;
}
.service-apply-item .service-apply-from-button{
    padding: 10px 40px;
    margin-left: 10px;
    color: #fff;
    background: #8c8c8c;
    border-radius: 4px;
}
.service-apply-item .service-apply-from-pictrue{
    width: 380px;
    height: 90px;
    margin-left: 10px;
}
.service-apply-item .service-apply-from-pictrue li{
    float: left;
    width: 78px;
    height: 58px;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.service-apply-from-pictrue li img{
    width: 78px;
    height: 58px;
}
.service-apply-item .service-apply-from-pictrue label{
    display: block;
    clear: both;
    padding-top: 10px;
    color: #8c8c8c;
}
/*温馨提示*/
.service-apply-hints{
    width: 960px;
    padding-right: 20px;
    margin: 20px 0 0 10px;
}
.service-apply-hints .apply-hints-title{
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #61bbe0; 
}
.service-apply-hints .apply-hints-item{
    position: relative;
    padding-left: 20px;
    color: #8c8c8c;
    line-height: 20px;
}
.service-apply-hints .apply-hints-item span{
    position: absolute;
    z-index: 2;
    left: 0;
    top:0;
}
.service-apply-hints .apply-hints-href{
    display: block;
    margin-top: 20px;
    color: #2f6ceb;
}