@charset "UTF-8";
@import "../layout/layout.scss";          // base

body {
    background: url(../images/future-bg.jpg);
}
.next-page {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 50%;
    margin-left: -21px;
    bottom: -22px;
    z-index: 99;
}
.future-page {
    height: 700px;
    position: relative;
    .page-in {
        width: 1190px;
        margin: 0 auto;
        height: 700px;
        position: relative;
    }
}
.future-page1 {
    height: 680px;
    .page-in {
        height: 680px;
        .next-page {
            bottom: 78px;
        }
    }
    background: url(../images/future-img-1.jpg) no-repeat center top;
}
.future-page2 {
    .page-in {
        background: url(../images/future-img-2.jpg) no-repeat center top;
    }
    .kt {
        position: absolute;
        opacity: 0;
        left: 574px;
        top: 120px;
    }
    .kt-2-wrap {
        position: absolute;
        opacity: 0;
        left: 563px;
        top: 206px;
    }
    .kt-wind {
        position: absolute;
        opacity: 0;
    }
    .kt-wind1 {
        left: 680px;
        top: 180px;
    }
    .kt-wind2 {
        left: 620px;
        top: 160px;
    }
    .kt-wind3 {
        left: 500px;
        top: 160px;
    }
    .kt-wind4 {
        left: 780px;
        top: 240px;
    }
    .kt-light {
        position: absolute;
        top:180px;
        left: 945px;
        opacity: 0;
    }
    .kt-light-2 {
        position: absolute;
        top:255px;
        left: 920px;
        opacity: 0;
    }
    .kt-kq {
        position: absolute;
        top: 540px;
        left: 516px;
        opacity: 0;
    }
    .kt-kq-wind {
        position: absolute;
        opacity: 0;
    }
    .kt-kq-wind-1 {
        top: 490px;
        left: 500px;
    }
    .kt-kq-wind-2 {
        top: 520px;
        left: 520px;
    }
    .kt-feather {
        position: absolute;
        opacity: 0;
    }
}
.future-page3 {
    .page-in {
        background: url(../images/future-img-3.jpg) no-repeat center top;
    }
    .ws-kq {
        position: absolute;
        left: 748px;
        top: 546px;
    }
    .ws-feather {
        position: absolute;
        opacity: 0;
    }
    .ws-feather-1 {
        left: 107px;
        top: 257px;
    }
    .ws-feather-2 {
        top:199px;
        left: 563px;
    }
    .ws-feather-3 {
        left: 575px;
        top: 353px;
    }
    .ws-feather-4 {
        left: 862px;
        top: 525px;
    }
    .ws-feather-5 {
        left: 1042px;
        top: 444px;
    }
    .ws-kq-wind {
        position: absolute;
        opacity: 0;
    }
    .ws-kq-wind-1 {
        top: 490px;
        left: 760px;
    }
    .ws-kq-wind-2 {
        top: 520px;
        left: 820px;
    }
    .ws-light-on {
        position: absolute;
        top: 365px;
        left: -12px;
    }
    .ws-bed {
        position: absolute;
        top: 335px;;
        left: 130px;
    }
    .ws-cl {
        position: absolute;
        top: 116px;;
        left: 180px;
    }
    .mark {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.1;
    }
}
.future-page4 {
    .page-in {
        background: url(../images/future-img-4.jpg) no-repeat center top;
    }
    .future-smoke {
        position: absolute;
        opacity:0;
    }
    .future-smoke-0 {
        top: 100px;
        left: 760px;
    }
    .future-smoke-1 {
        top: 186px;
        left: 630px;
    }
    .future-smoke-2 {
        top: 200px;
        left: 600px;
    }
    .future-smoke-3 {
        top: 190px;
        left: 630px;
    }
    .future-smoke-4 {
        top: 150px;
        left: 950px;
    }
    .future-smoke-5 {
        left: 900px;
        top: 160px;
    }
    .future-smoke-6 {
        top: 160px;
        left: 930px;
    }
}
.future-page5 {
    .page-in {
        background: url(../images/future-img-5.jpg) no-repeat center top;
    }
    .future-music {
        position: absolute;
        opacity: 0;
    }
    .future-music-0 {
        top: 60px;
        right: 0;
    }
    .future-music-1 {
        top: 146px;
        left: 1000px;
    }
    .future-music-2 {
        top: 290px;
        left: 860px;
    }
    .future-music-3 {
        top: 80px;
        left: 730px;
    }
    .future-music-4 {
        top: 80px;
        left: 1100px;
    }
    .future-music-5 {
        left: 900px;
        top: 260px;
    }
    .future-music-6 {
        top: 250px;
        left: 840px;
    }
    .future-music-light {
        top: 294px;
        left: 920px;
    }
}

.future-icon {
    background: url(../images/future-icon.png) no-repeat;
}
.fix-nav {
    width: 199px;
    height: 199px;
    position: fixed;
    z-index: 9999;
    display: none;
    background: url(../images/future-nav.png) no-repeat;
    left: 50%;
    /*     top: 117px;
     */
    margin-top: 117px;
    margin-left: 563px;
    -webkit-transform:rotate(-45deg);
            transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);     /* IE 9 */    /* Firefox */
    -webkit-transform:rotate(-45deg);
            transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg);  /* Opera */
    .nav-item {
        position: absolute;
        cursor: pointer;
        width: 66px;
        height: 67px;
        text-align: center;
        &:hover {
            background: #5ad8fa;
            color: #fff;
        }
        .txt {
            left:-20%;
            bottom: 12px;
            width: 100%;
            text-align:center;
        }
        .icon,.txt {
            position: absolute;
           -webkit-transform:rotate(45deg);
                   transform:rotate(45deg);
           -ms-transform:rotate(45deg);     /* IE 9 */    /* Firefox */
           -webkit-transform:rotate(45deg);
                   transform:rotate(45deg); /* Safari 和 Chrome */
           -o-transform:rotate(45deg);  /* Opera */ 
        }
    }
    .nav-active {
        background: #5ad8fa;
        color: #fff;
    }
    .livingroom {
        left: 66px;
        top:0;
        .icon {
            left:16px; 
            top: 20px;
            width: 47px;
            height: 28px;
            background-position: -60px -65px;
        }
        .txt {
            margin-left: 4px;
        }
    }
    .livingroom:hover, .livingroom.active  {
        background: #5ad8fa;
        color: #fff;
        .icon {
            background-position: 0 -61px;
            top: 15px;
            left: 17px;
        }
    }
    .berdroom {
        top: 66px;
        left:132px;
        .icon {
            left:25px; 
            top: 14px;
            width: 26px;
            height: 26px;
            background-position: -67px -160px;
        }
    }
    .berdroom:hover, .berdroom.active  {
        background: #5ad8fa;
        color: #fff;
        .icon {
            width: 34px;
            height: 34px;
            background-position: -8px -160px;
            top: 15px;
            left: 18px;
        }
    }

    .cookroom {
        
        top: 66px;
        left:0;
         .icon {
            left:26px; 
            top: 14px;
            width: 27px;
            height: 26px;
            background-position: -66px -112px;
        }
    }
    .cookroom:hover, .cookroom.active  {
        background: #5ad8fa;
        color: #fff;
        .icon {
            width: 35px;
            height: 34px;
            background-position: -7px -109px;
            top: 10px;
            left: 22px;
        }
    }

    .schoolroom {
        left: 66px;
        top:132px;
         .icon {
            left:30px; 
            top: 14px;
            width: 20px;
            height: 26px;
            background-position: -71px -212px;
        }
    }
    .schoolroom:hover, .schoolroom.active  {
        background: #5ad8fa;
        color: #fff;
        .icon {
            width: 28px;
            height: 34px;
            background-position: -8px -206px;
            top: 10px;
            left: 26px;
        }
    }
    .home {
        left: 66px;
        top:66px;
        &:hover {
            background: none;
        }
        .txt {
            margin-left: 14px;
            color: #fff;
            font-size: 17px;
        }
    }
}
.future-footer {
    margin-top: 90px;
    height: 160px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/future-footer-bg.gif);
    .p1 {
       font-size: 24px;
       color: #00c9ff;
       padding-top: 10px;
       line-height: 63px;
    }
    .p2 {
        line-height: 33px;
    }
    .p3 {
        line-height: 30px;
        strong {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.active_page .kt-light { -webkit-animation: light 1s both 0.4s; animation: light 1s both 0.4s;}
.active_page .kt-light-2 {-webkit-animation: linghttobig 0.2s both 1.4s;animation: linghttobig 0.2s both 1.4s;}
.active_page .kt{-webkit-animation:toBig  0.4s both 1.5s;animation:toBig  0.4s both 1.5s;}
.active_page .kt-2-wrap { -webkit-animation:toBig  0.6s both 1.8s; animation:toBig  0.6s both 1.8s; }
.active_page .kt-2{-webkit-animation:ktMove  1s both 3s infinite;animation:ktMove  1s both 3s infinite;}
.active_page .kt-wind1 { -webkit-animation:ktWind  1s both 3s infinite; animation:ktWind  1s both 3s infinite;}
.active_page .kt-wind2 { -webkit-animation:ktWind  1.2s both 3s infinite; animation:ktWind  1.2s both 3s infinite;}
.active_page .kt-wind3 { -webkit-animation:ktWind  1.8s both 3s infinite; animation:ktWind  1.8s both 3s infinite;}
.active_page .kt-wind4 { -webkit-animation:ktWind  1s both 3.6s infinite; animation:ktWind  1s both 3.6s infinite;}
.active_page .kt-kq { -webkit-animation:ktkq  1s both 2.6s; animation:ktkq  1s both 2.6s;}
.active_page .kt-kq-wind-1 { -webkit-animation:ktkq  1s both 2.6s infinite; animation:ktkq  1s both 2.6s infinite;}
.active_page .kt-kq-wind-2 { -webkit-animation:ktkq  1s both 2.7s infinite; animation:ktkq  1s both 2.7s infinite;}
.active_page .kt-feather-1 { -webkit-animation:feather1  3.5s both 2.8s; animation:feather1  3.5s both 2.8s;}
.active_page .kt-feather-2 { -webkit-animation:feather2  3.5s both 2.9s; animation:feather2  3.5s both 2.9s;}
.active_page .kt-feather-3 { -webkit-animation:feather3  3.5s both 3.6s; animation:feather3  3.5s both 3.6s;}
.active_page .kt-feather-4 { -webkit-animation:feather4  3.5s both 3.6s; animation:feather4  3.5s both 3.6s;}
.active_page .kt-feather-5 { -webkit-animation:feather5  3.5s both 3.6s; animation:feather5  3.5s both 3.6s;}


.active_page .ws-feather-1 { -webkit-animation:wsFeather  3.5s both 2.0s infinite; animation:wsFeather  3.5s both 2.0s infinite;}
.active_page .ws-feather-2 { -webkit-animation:wsFeather  3.5s both 2.6s infinite; animation:wsFeather  3.5s both 2.6s infinite;}
.active_page .ws-feather-3 { -webkit-animation:wsFeather  3.5s both 3.2s infinite; animation:wsFeather  3.5s both 3.2s infinite;}
.active_page .ws-feather-4 { -webkit-animation:wsFeather  3.5s both 4.1s infinite; animation:wsFeather  3.5s both 4.1s infinite;}
.active_page .ws-feather-5 { -webkit-animation:wsFeather  3.5s both 4.6s infinite; animation:wsFeather  3.5s both 4.6s infinite;}

.active_page .ws-kq { -webkit-animation:ktkq  1s both 2s; animation:ktkq  1s both 2s;}
.active_page .ws-kq-wind-1 { -webkit-animation:ktkq  1s both 2.2s infinite; animation:ktkq  1s both 2.2s infinite;}
.active_page .ws-kq-wind-2 { -webkit-animation:ktkq  1s both 2.4s infinite; animation:ktkq  1s both 2.4s infinite;}
.active_page .ws-light-on { -webkit-animation:lightOff  1.2s both 1.2s; animation:lightOff  1.2s both 1.2s;}
.active_page .ws-cl { -webkit-animation:clOff  0.6s both 1s; animation:clOff  0.6s both 1s;}


.active_page .future-smoke-0 { -webkit-animation:toBig  1s both 0.2s; animation:toBig  1s both 0.2s;}
.active_page .future-smoke-1 { -webkit-animation:smoke  2s both 1s infinite; animation:smoke  2s both 1s infinite;}
.active_page .future-smoke-2 { -webkit-animation:smoke  2s both 1.5s infinite; animation:smoke  2s both 1.5s infinite;}
.active_page .future-smoke-3 { -webkit-animation:smoke  2s both 2s infinite; animation:smoke  2s both 2s infinite;}
.active_page .future-smoke-4 { -webkit-animation:smoke  2s both 1s infinite; animation:smoke  2s both 1s infinite;}
.active_page .future-smoke-5 { -webkit-animation:smoke  2s both 1.5s infinite; animation:smoke  2s both 1.5s infinite;}
.active_page .future-smoke-6 { -webkit-animation:smoke  2s both 2s infinite; animation:smoke  2s both 2s infinite;}

.active_page .future-music-0 { -webkit-animation:toBig  1s both 0.2s; animation:toBig  1s both 0.2s;}
.active_page .future-music-1 { -webkit-animation:music  2s both 1s infinite; animation:music  2s both 1s infinite;}
.active_page .future-music-2 { -webkit-animation:music  2s both 1.2s infinite; animation:music  2s both 1.2s infinite;}
.active_page .future-music-3 { -webkit-animation:music  2s both 2s infinite; animation:music  2s both 2s infinite;}
.active_page .future-music-4 { -webkit-animation:music  2s both 3s infinite; animation:music  2s both 3s infinite;}
.active_page .future-music-5 { -webkit-animation:music  2s both 2.5s infinite; animation:music  2s both 2.5s infinite;}
.active_page .future-music-6 { -webkit-animation:music  2s both 2s infinite; animation:music  2s both 2s infinite;}
.active_page .future-music-light { -webkit-animation:lightOn  1s both 2s; animation:lightOn  1s both 2s;}

@-webkit-keyframes music{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}

@keyframes music{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}
@-webkit-keyframes lightOn{
    0%{opacity: 0}
    20%{opacity: 0.2}
    40%{opacity: 0.4}
    60%{opacity: 0.6}
    80%{opacity: 0.8}
    100%{opacity: 1}
}
@keyframes lightOn{
    0%{opacity: 0}
    20%{opacity: 0.2}
    40%{opacity: 0.4}
    60%{opacity: 0.6}
    80%{opacity: 0.8}
    100%{opacity: 1}
}
@-webkit-keyframes smoke{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}
@keyframes smoke{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}
@-webkit-keyframes clOff{
    0%{ height:230px; width: 242px;}
    20%{ height:230px; width: 193.6px;}
    40%{height:230px; width: 145.2px;}
    60%{height:230px; opacity:0.6; width: 96.8px;}
    80%{height:230px; opacity:0.3; width: 48.4px;}
    100%{height:230px;opacity:0; width: 0px;}
}
@keyframes clOff{
    0%{ height:230px; width: 242px;}
    20%{ height:230px; width: 193.6px;}
    40%{height:230px; width: 145.2px;}
    60%{height:230px; opacity:0.6; width: 96.8px;}
    80%{height:230px; opacity:0.3; width: 48.4px;}
    100%{height:230px;opacity:0; width: 0px;}
}

@-webkit-keyframes lightOff{
    0%{opacity: 1}
    20%{opacity: 0.8}
    40%{opacity: 0.6}
    60%{opacity: 0.4}
    80%{opacity: 0.2}
    100%{opacity: 0}
}

@keyframes lightOff{
    0%{opacity: 1}
    20%{opacity: 0.8}
    40%{opacity: 0.6}
    60%{opacity: 0.4}
    80%{opacity: 0.2}
    100%{opacity: 0}
}
@-webkit-keyframes wsFeather{
    0% { -webkit-transform: translate(0px,2px); transform: translate(0px,2px);opacity: 0}
    10%{ -webkit-transform: translate(2px,4px); transform: translate(2px,4px);opacity: 0.2}
    20%{ -webkit-transform: translate(-2px,6px); transform: translate(-2px,6px);opacity: 0.4}
    30%{ -webkit-transform: translate(2px,8px); transform: translate(2px,8px);opacity: 0.6}
    40%{ -webkit-transform: translate(-2px,10px); transform: translate(-2px,10px);opacity: 0.8}
    50%{ -webkit-transform: translate(2px,12px); transform: translate(2px,12px);opacity: 1}
    60%{ -webkit-transform: translate(-2px,14px); transform: translate(-2px,14px);opacity: 0.8}
    70%{ -webkit-transform: translate(2px,16px); transform: translate(2px,16px);opacity: 0.6}
    80%{ -webkit-transform: translate(-2px,18px); transform: translate(-2px,18px);opacity: 0.4}
    90%{ -webkit-transform: translate(2px,20px); transform: translate(2px,20px);opacity: 0.2}
    100%{-webkit-transform: translate(-2px,22px);transform: translate(-2px,22px);opacity: 0}
}
@keyframes wsFeather{
    0% { -webkit-transform: translate(0px,2px); transform: translate(0px,2px);opacity: 0}
    10%{ -webkit-transform: translate(2px,4px); transform: translate(2px,4px);opacity: 0.2}
    20%{ -webkit-transform: translate(-2px,6px); transform: translate(-2px,6px);opacity: 0.4}
    30%{ -webkit-transform: translate(2px,8px); transform: translate(2px,8px);opacity: 0.6}
    40%{ -webkit-transform: translate(-2px,10px); transform: translate(-2px,10px);opacity: 0.8}
    50%{ -webkit-transform: translate(2px,12px); transform: translate(2px,12px);opacity: 1}
    60%{ -webkit-transform: translate(-2px,14px); transform: translate(-2px,14px);opacity: 0.8}
    70%{ -webkit-transform: translate(2px,16px); transform: translate(2px,16px);opacity: 0.6}
    80%{ -webkit-transform: translate(-2px,18px); transform: translate(-2px,18px);opacity: 0.4}
    90%{ -webkit-transform: translate(2px,20px); transform: translate(2px,20px);opacity: 0.2}
    100%{-webkit-transform: translate(-2px,22px);transform: translate(-2px,22px);opacity: 0}
}
@-webkit-keyframes light{
    0%{opacity: 0}
    10%{opacity: 0.6}
    20%{opacity: 0.2}
    30%{opacity: 0.8}
    40%{opacity: 0.5}
    50%{opacity: 1}
    100%{opacity: 1}
}
@keyframes light{
    0%{opacity: 0}
    10%{opacity: 0.6}
    20%{opacity: 0.2}
    30%{opacity: 0.8}
    40%{opacity: 0.5}
    50%{opacity: 1}
    100%{opacity: 1}
}
@-webkit-keyframes linghttobig{
    100%{opacity: 1; }
}
@keyframes linghttobig{
    100%{opacity: 1; }
}
@-webkit-keyframes toBig{
    0%{ opacity: 0; -webkit-transform:scale(0); transform:scale(0);}
    50%{opacity: 1; -webkit-transform:scale(1.05); transform:scale(1.05);}
    70%{opacity: 1; -webkit-transform:scale(0.9); transform:scale(0.9);}
    100%{opacity: 1; -webkit-transform:scale(1); transform:scale(1);}
}
@keyframes toBig{
    0%{ opacity: 0; -webkit-transform:scale(0); transform:scale(0);}
    50%{opacity: 1; -webkit-transform:scale(1.05); transform:scale(1.05);}
    70%{opacity: 1; -webkit-transform:scale(0.9); transform:scale(0.9);}
    100%{opacity: 1; -webkit-transform:scale(1); transform:scale(1);}
}
@-webkit-keyframes ktMove{
    0%{-webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
    50%{-webkit-transform: translateY(-5px);transform: translateY(-5px);}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes ktMove{
    0%{-webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
    50%{-webkit-transform: translateY(-5px);transform: translateY(-5px);}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@-webkit-keyframes ktWind{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}
@keyframes ktWind{
    0%{ opacity: 0; }
    30%{ opacity: 0.4; }
    50%{opacity: 0.7; }
    70%{opacity: 0.9; }
    90%{opacity: 0.7; }
    100%{opacity: 0;}
}
@-webkit-keyframes ktkq{
    0%{ opacity: 0; }
    30%{ opacity: 0.3; }
    50%{opacity: 0.5; }
    70%{opacity: 0.7; }
    90%{opacity: 0.9; }
    100%{opacity: 1;}
}
@keyframes ktkq{
    0%{ opacity: 0; }
    30%{ opacity: 0.3; }
    50%{opacity: 0.5; }
    70%{opacity: 0.7; }
    90%{opacity: 0.9; }
    100%{opacity: 1;}
}

@-webkit-keyframes feather1{
    0%{ opacity:0; top:-10%; right:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8; top:50%; right:60%; -webkit-transform:rotate(160deg); transform:rotate(160deg);}
    100%{ opacity:1;top: 100%; right: 120%; -webkit-transform:rotate(390deg); transform:rotate(390deg);} 
}

@keyframes feather1{
    0%{ opacity:0; top:-10%; right:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8; top:50%; right:60%; -webkit-transform:rotate(160deg); transform:rotate(160deg);}
    100%{ opacity:1;top: 100%; right: 120%; -webkit-transform:rotate(390deg); transform:rotate(390deg);} 
}
@-webkit-keyframes feather2{
    0%{  opacity:0; top:90%; left:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:40%; left:50%; -webkit-transform:rotate(280deg); transform:rotate(280deg);}
    100%{ top: 100%; left: 100%; -webkit-transform:rotate(230deg); transform:rotate(230deg);}
}
@keyframes feather2{
    0%{  opacity:0; top:90%; left:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:40%; left:50%; -webkit-transform:rotate(280deg); transform:rotate(280deg);}
    100%{ top: 100%; left: 100%; -webkit-transform:rotate(230deg); transform:rotate(230deg);}
}
@-webkit-keyframes feather3{
    0%{  opacity:0; top:60%; left:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:20%; left:50%; -webkit-transform:rotate(80deg); transform:rotate(80deg);}
    100%{ opacity:1;top: -30%; left: 100%; -webkit-transform:rotate(270deg); transform:rotate(270deg);}
}
@keyframes feather3{
    0%{  opacity:0; top:60%; left:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:20%; left:50%; -webkit-transform:rotate(80deg); transform:rotate(80deg);}
    100%{ opacity:1;top: -30%; left: 100%; -webkit-transform:rotate(270deg); transform:rotate(270deg);}
}
@-webkit-keyframes feather4{
    0%{  opacity:0; top:-10%; right:60%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{opacity:0.8;top:40%; right:10%; -webkit-transform:rotate(90deg); transform:rotate(90deg);}
    100%{ opacity:1;top: 80%; right: 120%; -webkit-transform:rotate(70deg); transform:rotate(70deg);}
}
@keyframes feather4{
    0%{  opacity:0; top:-10%; right:60%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{opacity:0.8;top:40%; right:10%; -webkit-transform:rotate(90deg); transform:rotate(90deg);}
    100%{ opacity:1;top: 80%; right: 120%; -webkit-transform:rotate(70deg); transform:rotate(70deg);}
}
@-webkit-keyframes feather5{
    0%{  opacity:0; top:-10%; right:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:40%; right:60%; -webkit-transform:rotate(30deg); transform:rotate(30deg);}
    100%{ opacity:1;top: 100%; right:120%; -webkit-transform:rotate(120deg); transform:rotate(120deg);}
}
@keyframes feather5{
    0%{  opacity:0; top:-10%; right:0%; -webkit-transform:rotate(0); transform:rotate(0);}
    50%{ opacity:0.8;top:40%; right:60%; -webkit-transform:rotate(30deg); transform:rotate(30deg);}
    100%{ opacity:1;top: 100%; right:120%; -webkit-transform:rotate(120deg); transform:rotate(120deg);}
}


@-webkit-keyframes opacityTopMove{
    0%{ opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px);}
    100%{ opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
}


@keyframes opacityTopMove{
    0%{ opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px);}
    100%{ opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
}
@-webkit-keyframes opacityToTopMove{
    0%{ opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px);}
    100%{ opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
}
@keyframes opacityToTopMove{
    0%{ opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px);}
    100%{ opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
}