@charset "UTF-8";
@import "../layout/layout.scss";          // base
           // grid-system
          // icon-system
@import "../components/common-top-bar.scss";       // global-top-bar

@import "../components/common-head.scss";    // main-head
@import "../components/member-head.scss";    // main-head

@import "../components/common-min-bar.scss";    // min-bar
@import "../components/common-crumbs.scss";  // main-breadcrumb-trail
@import "../components/common-search-bar.scss";     // head-search-bar


@import "../components/common-foot.scss";  // global-footer

/* 
 *    领取红包成功页
 *    author : jinjing
 *    date   : 2015-12-25
*/
.redWallet-wrap {
	padding: 50px 0;
	width: 755px; 
	min-height: 486px;
	margin:0 auto;
	text-align: center;
}
.redWallet-wrap .title {
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 65px;
	color: #333;
}
.redWallet-wrap .title  i {
	margin-right: 10px;
	position: relative;
	top: -15px;
}
.redWallet-wrap .title span {
	position: relative;
	top: -20px;
}
.redWallet-wrap .redWallet-info {
	width: 755px;
	height: 320px;
	margin: 0 auto;
	overflow: hidden;
}
.redWallet-info .left {
	position: relative;
	float: left;
	width: 383px;
	height: 320px;
}
.redWallet-info .left .redWallet-bg{
	display: block;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	width: 194px;
	height: 233px;
	background:url(../images/member-club/redWallet.png);
	.price-line{
		width: 190px;
		height: 47px;
		margin-top: 110px;
		color: #fbf00d;
	}
}
.redWallet-info .left span {
	font-size: 18px;
}
.redWallet-info .price-line .price {
	font-size: 48px;
}
.redWallet-info .right {
	position: relative;
	top:-7px;
	width: 305px;
	height: 320px;
	float: left;
	padding-right: 5px;
	margin-left: 60px;
	font-size: 14px;
	color: #8c8c8c;
}
.redWallet-info .right li{
	position: relative;
	padding-left: 9px;
	display: block;
	clear: both;
	line-height: 26px;
	.icon-dot{
		position: absolute;
		left: 0;
		top: -3px;
		color: #8c8c8c;
	}
}
.redWallet-info .right .item span{
	display: block;
	float: left;
	text-align: left;
	overflow: hidden;
	color: #8c8c8c;
}
.redWallet-info .item label {
	display: block;
	float: left;
	overflow: hidden;
	color: #8c8c8c;
	text-align: left;
}
.redWallet-info .right .btn-line{
	clear: both;
}
.redWallet-info .item label.date {
	color: #f60;
}
.use-link {
	display: block;
	width:90px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #f60;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 4px;
}
.use-link:hover {
	background: #ee950a;
}
.my-redWallet {
	display: block;
	text-align: left;
	color: #333;
}
.my-redWallet:hover {
	color: #f60;
}