@import "../layout/sprite.scss";

@mixin sprite-wrap($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @extend .khicons;
}


/* line 224, ../sass/layout/sprite.scss */
.icon, .member-aside-icons .icon-customer, .member-aside-item a:hover .icon-customer, .member-aside .item-on .icon-customer, .member-aside-item .item-on a:hover .icon-customer, .member-aside-icons .icon-order, .member-aside-item a:hover .icon-order, .member-aside .item-on .icon-order, .member-aside-item .item-on a:hover .icon-order, .member-aside-icons .icon-coupon, .member-aside-item a:hover .icon-coupon, .member-aside .item-on .icon-coupon, .member-aside-item .item-on a:hover .icon-coupon, .member-aside-icons .icon-favorite, .member-aside-item a:hover .icon-favorite, .member-aside .item-on .icon-favorite, .member-aside-item .item-on a:hover .icon-favorite, .member-aside-icons .icon-service, .member-aside-item a:hover .icon-service, .member-aside .item-on .icon-service, .member-aside-item .item-on a:hover .icon-service, .member-aside-icons .icon-person, .member-aside-item a:hover .icon-person, .member-aside .item-on .icon-person, .member-aside-item .item-on a:hover .icon-person, .member-aside-icons .icon-config, .member-aside-item a:hover .icon-config, .member-aside .item-on .icon-config, .member-aside-item .item-on a:hover .icon-config {
  background-image: url("http://misc.jjcdn.com/p/images/sprite.png");
}

/* define default color */
/*
 * member aside commemt style
*/
/* line 23, ../sass/member-aside.scss */
.member-aside {
  background-color: #333;
}

/* member info */
/* line 28, ../sass/member-aside.scss */
.member-aside .member-aside-info {
  padding: 30px;
  over-flow: hidden;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: #61bbe0;
}

/* line 36, ../sass/member-aside.scss */
.member-aside .member-aside-info p {
  padding: 6px 0 0 0;
}

/* line 39, ../sass/member-aside.scss */
.member-aside .member-aside-info a {
  color: #fff;
  text-decoration: none;
}

/* line 44, ../sass/member-aside.scss */
.member-aside .member-aside-info a:hover {
  color: #f60;
}

/* line 47, ../sass/member-aside.scss */
.member-aside .member-aside-icons {
  padding-bottom: 28px;
}

/* member aside menu */
/* line 51, ../sass/member-aside.scss */
.member-aside-item {
  height: 49px;
  border-bottom: 1px dashed #545454;
  background-color: #333;
}

/* line 56, ../sass/member-aside.scss */
.member-aside-item span {
  display: inline-block;
  width: 180px;
  height: 49px;
  line-height: 49px;
  border-left: 10px solid #333;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* line 66, ../sass/member-aside.scss */
.member-aside-item span i {
  vertical-align: middle;
}

/* line 69, ../sass/member-aside.scss */
.member-aside-item span label {
  vertical-align: middle;
}

/* line 73, ../sass/member-aside.scss */
.member-aside-item a {
  display: inline-block;
  width: 180px;
  height: 49px;
  line-height: 49px;
  border-left: 10px solid #333;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

/* line 84, ../sass/member-aside.scss */
.member-aside-item a:hover {
  border-left: 10px solid #f60;
}

/* line 87, ../sass/member-aside.scss */
.member-aside-item a i {
  vertical-align: middle;
  cursor: pointer;
}

/* line 91, ../sass/member-aside.scss */
.member-aside-item a label {
  vertical-align: middle;
  cursor: pointer;
}

/* member aside icons */
/* line 97, ../sass/member-aside.scss */
.member-aside-icons .m-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  font-size: 0;
}

/* icon-customer */
/* line 105, ../sass/member-aside.scss */
.member-aside-icons .icon-customer {
  background-position: -4px -2142px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 108, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-customer {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 112, ../sass/member-aside.scss */
.member-aside .item-on .icon-customer {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 115, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 118, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-customer {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* icon-order */
/* line 123, ../sass/member-aside.scss */
.member-aside-icons .icon-order {
  background-position: -4px -2422px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 126, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-order {
  background-position: -4px -2478px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 130, ../sass/member-aside.scss */
.member-aside .item-on .icon-order {
  background-position: -4px -2478px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 133, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 136, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-order {
  background-position: -4px -2478px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* icon-coupon */
/* line 141, ../sass/member-aside.scss */
.member-aside-icons .icon-coupon {
  background-position: -4px -1106px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 144, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-coupon {
  background-position: -4px -1190px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 148, ../sass/member-aside.scss */
.member-aside .item-on .icon-coupon {
  background-position: -4px -1190px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* line 151, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 154, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-coupon {
  background-position: -4px -1190px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px;
}

/* icon-favorite */
/* line 159, ../sass/member-aside.scss */
.member-aside-icons .icon-favorite {
  background-position: -4px -2982px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 162, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-favorite {
  background-position: -4px -3094px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 166, ../sass/member-aside.scss */
.member-aside .item-on .icon-favorite {
  background-position: -4px -3094px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 169, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 172, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-favorite {
  background-position: -4px -3094px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* icon-service */
/* line 177, ../sass/member-aside.scss */
.member-aside-icons .icon-service {
  background-position: -4px -1442px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 180, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-service {
  background-position: -4px -1862px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 184, ../sass/member-aside.scss */
.member-aside .item-on .icon-service {
  background-position: -4px -1862px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 187, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 190, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-service {
  background-position: -4px -1862px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* icon-person */
/* line 195, ../sass/member-aside.scss */
.member-aside-icons .icon-person {
  background-position: -4px -2142px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 199, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-person {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 203, ../sass/member-aside.scss */
.member-aside .item-on .icon-person {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 207, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 211, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-person {
  background-position: -4px -2170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* icon-config */
/* line 216, ../sass/member-aside.scss */
.member-aside-icons .icon-config {
  background-position: -4px -1218px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 220, ../sass/member-aside.scss */
.member-aside-item a:hover .icon-config {
  background-position: -4px -1246px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 224, ../sass/member-aside.scss */
.member-aside .item-on .icon-config {
  background-position: -4px -1246px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 228, ../sass/member-aside.scss */
.member-aside .item-on a {
  border-left: 10px solid #f60;
}

/* line 232, ../sass/member-aside.scss */
.member-aside-item .item-on a:hover .icon-config {
  background-position: -4px -1246px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* aside sub menu style */
/* line 237, ../sass/member-aside.scss */
.member-aside-list {
  color: #fff;
  border-bottom: 1px dashed #545454;
}

/* line 242, ../sass/member-aside.scss */
.member-aside-list a {
  display: inline-block;
  width: 180px;
  height: 29px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  text-indent: 30px;
  border-left: 10px solid #333;
}

/* line 253, ../sass/member-aside.scss */
.member-aside-list a:hover {
  color: #f60;
  border-left: 10px solid #f60;
  text-decoration: none;
}

/* a onfocus */
/* line 260, ../sass/member-aside.scss */
.member-aside-list a.on {
  color: #f60;
  border-color: #f60;
}

/* line 265, ../sass/member-aside.scss */
.member-aside-list a.on:hover {
  color: #f60;
  border-color: #f60;
}
