@charset "UTF-8";
@import "../layout/layout.scss";
 
 
@import "../components/common-top-bar.scss";
@import "../components/member-head.scss"; 
@import "../components/common-foot.scss";
@import "../components/member-ui.scss";
@import "../components/member-aside.scss";
@import "../components/member-nav.scss";
@import "../components/common-min-bar.scss";    // min-bar
@import "../components/common-dialog.scss";    // art-dialog

/*
 * member card style
 * author : Zhang Zhensheng
 * date : 2015-09-28
 *
 */

body {
    background-color: #E4E4E4;
}

//我的银行卡右边开始
.mt-30 {
    margin-top: 30px;
}

.chk-tip-3 {
    margin-top: 4px;    
    font-size: 15px;
    text-align: center;
    color: #333;
    line-height: 80px;
}

.ui-dialog-footer {
    padding-bottom: 22px;
}
.ui-dialog-title,
.ui-dialog-footer button.ui-btns-ok,
.ui-dialog-footer button.ui-btns-cancel {
    font-family: Microsoft Yahei;
}

.member-card-cash,
.member-card-quick {
    margin: 0 0 20px;
    width: 100%;
    background-color: #FFF;
}

.card-cash-title,
.card-quick-title {
    margin: 0 0 0 50px;
    width: 890px;
    border-bottom: 1px solid #333;
    overflow: hidden;//解决子元素浮动无法撑开父元素的问题
    h4 {
        margin: 8px 0 0;
        float: left;
        color: #333;
        font-size: 18px;
        line-height: 40px;
    }
    p {
    	position: relative;
        margin: 23px 0 0;
        float: right;
        color: #8C8C8C;
        a {
            color: #2F6CEB;
            &:hover {
                color: #F60;
            }
        }
        i {
        	position: absolute;
        	left: -30px;
        	top: -1px;
        	width: 20px;
        	height: 20px;
        	background: url(../images/member-card/member_card_sprites.png) no-repeat -215px 0;
        }
    }
}

.card-cash-list,
.card-quick-list {
    margin: 0 0 0 50px;
    padding: 0 0 50px 0;
    width: 890px;
    overflow: hidden;
    li {
        position: relative;
        z-index: 10;
        margin: 20px 20px 0 0;
        float: left;
        width: 238px;
        height: 88px;
        border: 1px solid #CCC;
        .img-wrap {
            width: 100%;
            height: 58px;
            border-bottom: 1px dashed #CCC;
            overflow: hidden;//解决collapsing margins
            img {
            	margin: 0 auto;
            	display: block;
            	width: 238px;
            	height: 58px;
            	// background: url(../images/member-card/member_card_sprites.png) no-repeat 0 0;
            }
        }
        .dscr {
        	position: relative;
            width: 100%;
            font-size: 14px;
            line-height: 28px;
            .type {
                margin: 0 0 0 50px;
                color: #8C8C8C;
            }
            .tail-num {
                margin: 0 0 0 16px;
                color: #333;
            }
            .delete {
                position: absolute;
                right: 9px;
                top: 4px;
                display: none;
                width: 14px;
                height: 20px;
                background: url(../images/member-card/member_card_sprites.png) no-repeat -187px 0;
                &:hover {
                	background: url(../images/member-card/member_card_sprites.png) no-repeat -201px 0;
                }
            }
        }
        &:hover {
	    	.delete {
	    		display: inline;
    		}
    	}
    }
    .card-cash-add {
    	margin: 20px 20px 0 -10px;
        float: left;
        width: auto;
        height: 90px;
        border: none;
        font-size: 14px;
        line-height: 90px;
        a {
        	color: #2F6CEB;
            &:hover {
                color: #F60;
            }
        }
    }
    .no-card {
    	display: none;
        border-style: dashed;
        .dscr {
        	color: #CCC;
        	font-size: 14px;
        	text-align: center;
	        line-height: 90px;
        }
    }
    .no-card-on {
    	display: inline;
    }
    .selected-box {
        position: absolute;
        z-index: 0;
        width: 238px;
        height: 88px;
        border: 2px solid #F60;
    }
}
//我的银行卡右边结束
