/**
 *  ---------------------------------------------
 *      体验馆首页
 *		体验馆首页的样式文件
 *
 *      author: zhangzhensheng
 *      data  : 2016-04-28      
 *  ---------------------------------------------
 */

@charset "UTF-8";
@import "../layout/layout.scss";
@import "../components/common-top-bar.scss";
@import "../components/common-min-bar.scss";
@import "../components/common-head.scss";
@import "../components/common-foot.scss";
@import "../components/common-search-bar.scss";
@import "../components/common-ads.scss";
@import "../components/common-slider-3d.scss";
@import "../components/common-dialog.scss";
@import "../components/common-selector.scss";
// 本页变量
$offlineSprite: "#{$cdn}/images/offline/offline-sprite.png";
$icon_ofl_circle_gray: -2px -2px no-repeat;
$icon_ofl_address: -36px -2px no-repeat;
$icon_ofl_contact: -52px -2px no-repeat;
$icon_ofl_time: -73px -2px no-repeat;
$icon_ofl_arrow_down_gray: -97px -2px no-repeat;
$icon_ofl_sub: -121px -2px no-repeat;
$icon_ofl_plus: -155px -2px no-repeat;
$icon_ofl_location: -189px -2px no-repeat;
$icon_ofl_circle_orange: -243px -2px no-repeat;
$icon_ofl_arrow_left_333: -257px -2px no-repeat;
$icon_ofl_arrow_right_fff: -277px -2px no-repeat;
$icon_ofl_arrow_left_cbcbcb: -295px -2px no-repeat;
$icon_ofl_arrow_right_f60: -315px -2px no-repeat;
$icon_ofl_slide_orange: -333px -2px no-repeat;
$icon_ofl_slide_gray: -343px -2px no-repeat;
.main-aside-menu {
    display: none;
}
.member-foot {
	margin-top: 0;
}
/**
 * css triangle
 */ 
.triangle { 
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;      
}
.triangle-up {
    border-bottom: 6px solid #333;
}
.triangle-down {
    border-top: 6px solid #333;
}
.triangle-down-active {
    border-top: 6px solid #f60;
}
.triangle-up-active {
    border-top: none;
    border-bottom: 6px solid #f60;
}
.bg-fff {
	background-color: #fff;
}

.ofl-main {
    background-color: $base-color-ebe;
}

.ofl-banner {
    width: 100%;
    height: 520px;
    background: url(#{$cdn}/images/offline/offline-banner.jpg) center no-repeat;
    overflow: hidden;
}

.ofl-ad {
    .ad-link {
        display: block;
        width: 100%;
        height: 380px;
        background: url(#{$cdn}/images/offline/offline-ad.jpg) center no-repeat;
        overflow: hidden;
    }
    .ad-bottom {
        height: 300px;
        background: url(#{$cdn}/images/offline/offline-bottom-ad.jpg) center no-repeat;
    }
}

.ofl-sites {
    padding: 100px 0;
    // height: 344px;
    .ofl-sites-map {
        margin-left: 0;
        height: 344px;
        background-color: #000;
    }
    .ofl-sites-list {
        overflow: hidden;
        height: 344px;
        border-bottom: 1px solid $base-color-ccc;
        .selector {
            float: left;
            margin-right: 10px;
            width: 138px;
            background-color: #fff;
        }
    }
    .ofl-sites-active {
        margin: 0 0 0 55px;
        height: 344px;
        background-color: #fff;
        .active-title {
            margin: 20px 0 17px;
            text-align: center;
            span {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                background: url($offlineSprite) $icon_ofl_circle_gray;
            }
        }
        .active-pic {
            position: relative;
            margin: 0 auto;
            width: 200px;
            img {
                display: block;
                width: 200px;
                height: 243px;
            }
        }
        .hd {
            position: absolute;
            bottom: -19px;
            width: 100%;
            text-align: center;
            li {
                position: relative;
                left: 3px;
                display: inline-block;
                margin-right: 3px;
                width: 6px;
                height: 6px;
                background: url($offlineSprite) $icon_ofl_slide_gray;
            }
            .on {
                background: url($offlineSprite) $icon_ofl_slide_orange;
            }
        }
    }
    .side-menu {
        position: relative;
        float: left;
        margin-top: 20px;
        width: 100%;
        h4 {
            position: relative;
            padding: 16px 0;
            border-top: 1px solid $base-color-ccc;
            color: $base-color-333;
            font-size: 18px;
            cursor: pointer;
            span,
            .link {
                position: absolute;
                right: 0;
                top: 20px;
                display: none;
                color: #f60;
                font-size: 12px;
            }
            .arrow {
                top: 0;
                width: 40px;
                height: 56px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 20px;
                    height: 14px;
                    background: url($offlineSprite) $icon_ofl_arrow_down_gray;
                }
            }
            i {
                margin: -6px 10px 0;
            }
            a {
                color: #f60;
            }

        }
        .send-btn {
            position: relative;
            bottom: 20px;
            left: 300px;
            width: 90px;
            height: 20px;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            background-color: $base-color-f60;
            cursor: pointer;
        }
        .bd {
            position: relative;
            display: none;
            height: 120px;
        }
        p {
            overflow: hidden;
            span {
                float: left;
                width: 340px;
                height: 32px;
                line-height: 32px;
            }
            i {
                float: left;
                position: relative;
                width: 50px;
                height: 32px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 20px;
                }
            }
        }
        .address {
            span {
                line-height: 16px;
            }
            i:after{
                width: 12px;
                background: url($offlineSprite) $icon_ofl_address;
            }
        }
        .contact {
            margin-top: 6px;
            i:after{
                width: 17px;
                background: url($offlineSprite) $icon_ofl_contact;
            }
        }
        .time {
            i:after{
                width: 20px;
                background: url($offlineSprite) $icon_ofl_time;
            }
        }
    }
}

.ofl-detail {
	margin: 0 auto;
    padding: 70px 0 100px;
    width: 940px;
    .ofl-detail-dscr {
    	h3 {
    		margin-bottom: 20px;
    		color: $base-color-333;
    		font-size: 30px;
    		.en-name {
    			margin-bottom: 2px;
    			display: block;
    			width: 184px;
    			height: 22px;
    			background: url(#{$cdn}/images/offline/realphotos.jpg) center no-repeat;
    		}
    		i {
    			margin-top: 16px;
    			display: block;
    			width: 88px;
				border: 1px solid $base-color-f60;
    		}
    	}
        .wrap {
            position: relative;
            padding-right: 14px;
            width: 290px;
            height: 287px;
            overflow: hidden;
            .list {
                position: absolute;
                width: 290px;
            }
            .scrollbox {
                opacity: 0;
                position: absolute;
                right: 4px;
                top: 0;
                width: 1px;
                height: 100%;
                background: #ccc;
            }
            .scrollbar {
                position: absolute;
                left: -5px;
                top: 0;
                width: 10px;
                height: 10px;
                background: url($offlineSprite) $icon_ofl_circle_orange;
            }
            &:hover {
                .scrollbox {
                    opacity: 1;
                }
            }
        }
    }
    .ofl-detail-big {
    	position: relative;
        left: 100px;
        top: 29px;
    	img {
    		display: block;
    		width: 540px;
    		height: 360px;
    	}
    }
    .ofl-detail-small {
        position: relative;
    	margin: 50px auto 0;
    	width: 840px;
        .arrow {
            position: absolute;
            top: 0;
            width: 40px;
            height: 93px;
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 14px;
                height: 20px;
            }
        }
        .sPrev {
            left: 0;
            &:after {
                background: url($offlineSprite) $icon_ofl_arrow_left_cbcbcb;
            }
        }
        .sNext {
            right: 0;
            &:after {
                background: url($offlineSprite) $icon_ofl_arrow_right_f60;
            }
        }
        ul {
            height: 93px;
            font-size: 0;
            text-align: center;
        }
        li {
            display: inline-block;
            margin: 0 5px;
            width: 140px;
            height: 93px;
        }
        .on {
            width: 136px;
            height: 89px;
            border: 2px solid #f60;
        }
    	img {
    		display: block;
            width: 100%;
            height: 100%;
    		// width: 140px;
            // height: 93px;
    	}
    }
}

.ofl-item {
	padding: 100px 0;
	h3 {
		margin: 0 auto 50px;
		width: 390px;
		border-bottom: 1px solid $base-color-333;
		color: $base-color-333;
		font-size: 28px;
		text-align: center;
		.en-name {
			margin: 7px auto 0;
			display: block;
			width: 87px;
			height: 14px;
			background: url(#{$cdn}/images/offline/hotsale.jpg) center no-repeat;
		}
		i {
			position: relative;
			top: 2px;
			margin: 20px auto 0;
			display: block;
			width: 88px;
			border: 2px solid $base-color-f60;
		}
	}
	ul {
		float: left;
		margin: 0 -5px -20px;
	}
	li {
		margin-bottom: 20px;
		background-color: #fff;
	}
	img {
		display: block;
		width: 290px;
		height: 193px;
	}
	a {
		color: $base-color-333;
	}
	span {
		display: block;
		&.title{
			margin: 18px auto 0;
			width: 210px;
			color: $base-color-8c8;
			line-height: 16px;
			text-align: center;
		}
		&.price{
			margin: 12px auto 0;
			color: $base-color-333;
			font-size: 18px;
			text-align: center;
			.pro {
				text-decoration: line-through;
			}
		}
		&.buy-btn{
			margin: 5px auto 20px;
			width: 88px;
			height: 28px;
			border: 1px solid $base-color-f60;
			border-radius: 4px;
			color: $base-color-f60;
			font-size: 14px;
			line-height: 28px;
			text-align: center;
		}
	}
}
