@charset "UTF-8";
@import "../layout/layout.scss";          
           
 
@import "../components/common-top-bar.scss";       

@import "../components/member-head.scss";    
@import "../components/common-foot.scss";
@import "../components/common-search-bar.scss";

@charset "utf-8";
/*
 *  password-find-back 
 *
 *  author:JinJing
 *  date:20150330
 */
.member-foot {
    display:none;
}
.f14{
    font-size: 14px;
}
/*找回密码步骤*/
.find-password-step {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}
.find-password-step .find-password-item {
    position: relative;
    z-index: 990;
    width: 120px;
    height: 30px;
    float: left;
    padding-left: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    background: #ccc;
}
.find-password-step .find-password-item:before {
    position: absolute;
    z-index: 991;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: dashed dashed solid solid;
    border-color: transparent transparent #ccc #ccc;
    border-width: 15px 10px 0 10px;
}

.find-password-step .find-password-item:after {
    position: absolute;
    z-index: 991;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: solid dashed dashed solid;
    border-color: #ccc transparent transparent #ccc;
    border-width: 0 10px 15px 10px;
}

.find-password-step .find-password-item.cur {
    color: #fff;
    background: #333;
}

.find-password-step .cur:before {
    border-color: transparent transparent #333 #333;
}

.find-password-step .cur:after {
    border-color: #333 transparent transparent #333;
}


.error-tips {
    position:absolute;
    line-height:18px;
    color:#c0361c;
    padding-left:18px;
    display:none;
    i {
        position:absolute;
        margin-left: -18px;
        margin-top: 2px;
    }
}
.info-tips {
    position:absolute;
    display:none;
    line-height:18px;
    color:#8c8c8c;
}
.phone-error-tips {
    margin-left:146px;
}
.icon-tip-ok {
    position:absolute;
    display:none;
    margin: 7px 0 0 -20px;
}
/*========== step 2 ==========*/
.form-content {
    width:300px;
    margin:50px auto 270px auto;
    font-size:14px;
}
.kh-form-wrap {
    margin-bottom:30px;
}
.hk-form-title {
    height:30px;
    line-height:30px;
    display:inline-block;
    font-size:14px;
    color:#333;
    text-align:right;
    width:146px;
}
.kh-form-item {
    height:28px;
    text-indent:10px;
    line-height:1.42857143;
    border:1px solid #b4b4b4;
    border-radius:3px;
    color:#333;

    width:288px;
}
.kh-form-item.focus {
    border-color:#2464ea;
}
.kh-form-item:focus {
    border-color:#2464ea;
}
.kh-form-item.error {
    border-color:#c0361c;
}

.next-btn {
    width:290px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #f60;
}
.next-btn:hover {
    background: #ee950a;
}
.info-tips {
    font-size:12px;
}
.level {
    display:none;
    position:absolute;
    margin-left:10px;
    line-height:30px;
    i {
        position:absolute;
        width:20px;
        height:12px;
        margin-top:9px;
        background:#ccc;
    }
    .level-icon1 {
       margin-left:3px; 
    }
    .level-icon2 {
        margin-left:27px;
    }
    .level-icon3 {
        margin-left:51px;
    }
    .level-tips {
        position:absolute;
        margin-left:76px;
    }
}
.level1 {
   .level-icon1 {
       background:#c13d23;
    }
    .level-tips {
        color:#c13d23;
    } 
}
.level2 {
   .level-icon1 {
        background:#ee950a;
    }
    .level-icon2 {
        background:#ee950a;
    }
    .level-tips {
        color:#ee950a;
    }
}
.level3 {
   .level-icon1 {
        background:#4ca579;
    }
    .level-icon2 {
        background:#4ca579;
    }
    .level-icon3 {
        background:#4ca579;
    }
    .level-tips {
        color:#4ca579;
    }
}

