@charset "UTF-8";
@import "../layout/layout.scss";          
           
 
@import "../components/common-top-bar.scss";       

@import "../components/member-head.scss";    
@import "../components/common-foot.scss";
@import "../components/common-search-bar.scss";

@charset "utf-8";
/*
 *  password-find-back 
 *
 *  author:JinJing
 *  date:20150330
 */
.member-foot {
    display:none;
}
.f14{
    font-size: 14px;
}
/*找回密码步骤*/
.find-password-step {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}
.find-password-step .find-password-item {
    position: relative;
    z-index: 990;
    width: 120px;
    height: 30px;
    float: left;
    padding-left: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    background: #ccc;
}
.find-password-step .find-password-item:before {
    position: absolute;
    z-index: 991;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: dashed dashed solid solid;
    border-color: transparent transparent #ccc #ccc;
    border-width: 15px 10px 0 10px;
}

.find-password-step .find-password-item:after {
    position: absolute;
    z-index: 991;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: solid dashed dashed solid;
    border-color: #ccc transparent transparent #ccc;
    border-width: 0 10px 15px 10px;
}

.find-password-step .find-password-item.cur {
    color: #fff;
    background: #333;
}

.find-password-step .cur:before {
    border-color: transparent transparent #333 #333;
}

.find-password-step .cur:after {
    border-color: #333 transparent transparent #333;
}


.error-tips {
    position:absolute;
    line-height:18px;
    color:#c0361c;
    padding-left:18px;
    top:-9999px;
    i {
        position:absolute;
        margin-left: -18px;
        margin-top: 2px;
    }
}
.icon-tip-ok {
    position:absolute;
    top:-9999px;
    margin: 7px 0 0 -20px;
}
/*========== step 1 ==========*/
.form-content {
    width:300px;
    margin:50px auto 270px auto;
}
.kh-form-wrap {
    margin-bottom:30px;
}
.kh-form-item {
    height:28px;
    text-indent:10px;
    line-height:1.42857143;
    border:1px solid #b4b4b4;
    border-radius:3px;
    color:#333;
}
.kh-form-item.focus {
    border-color:#2464ea;
}
.kh-form-item.error {
    border-color:#c0361c;
}
.userName {
    width:288px;
}
.codeInput {
    width:138px;
    
}
.imgCode {
    position:absolute;
    margin-left:10px;
    margin-top:1px;
}
.change-code {
    position:absolute;
    line-height:30px;
    margin-left:110px;
    color:#333;
}
.next-btn {
    width:290px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #f60;
}
.next-btn:hover {
    background: #ee950a;
}


