@charset "UTF-8";
@import "../layout/layout.scss";          
           
@import "../layout/sprite.scss";        
          
@import "../components/common-top-bar.scss";       

@import "../components/member-head.scss";    
@import "../components/common-foot.scss";  

@charset "utf-8";
/*
 *  password-find-back 找回密码
 *
 *  author:JinJing
 *  date:20150330
 */
.f14{
    font-size: 14px;
}
/*找回密码步骤*/
.find-password-step {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}
.find-password-step .find-password-item {
    position: relative;
    z-index: 990;
    width: 120px;
    height: 30px;
    float: left;
    padding-left: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 5px;
    color: #333;
    background: #ccc;
}
.find-password-step .find-password-item:before {
    position: absolute;
    z-index: 991;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: dashed dashed solid solid;
    border-color: transparent transparent #ccc #ccc;
    border-width: 15px 10px 0 10px;
}

.find-password-step .find-password-item:after {
    position: absolute;
    z-index: 991;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    font-size: 0;
    border-style: solid dashed dashed solid;
    border-color: #ccc transparent transparent #ccc;
    border-width: 0 10px 15px 10px;
}

.find-password-step .find-password-item.cur {
    color: #fff;
    background: #333;
}

.find-password-step .cur:before {
    border-color: transparent transparent #333 #333;
}

.find-password-step .cur:after {
    border-color: #333 transparent transparent #333;
}
/*========== 第一步 第三步 ==========*/
/*表单部分*/

.find-password-container {
    width: 340px;
    margin: 0 auto;
    padding-bottom: 240px;
}

.find-password-container .findPSW-content {
    width: 290px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 40px;
}

.find-password-container .findPSW-content li {
    margin-top: 20px;
}
/*文本输入框*/

.findPSW-content .findPSW-item-text {
    position: relative;
    z-index: 990;
    height: 30px;
    text-align: left;
}

.findPSW-content .findPSW-item-text .findPSW-item-input {
    display: inline-block;
    width: 253px;
    padding: 5px 27px 5px 10px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
}
/*验证码输入框*/

.findPSW-content .findPSW-item-yzm .findPSW-item-input {
    display: inline-block;
    width: 103px;
    padding: 5px 25px 5px 10px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
}

.findPSW-content .findPSW-item-yzm .findPSW-yzm-img {
    position: absolute;
    z-index: 992;
    right: 48px;
    top: 0;
    width: 90px;
    height: 26px;
}

.findPSW-content .findPSW-item-yzm .change-yzm-btn {
    position: absolute;
    z-index: 992;
    right: 0;
    top: 5px;
    color: #8c8c8c;
}

.findPSW-content .findPSW-item-yzm .change-yzm-btn:hover {
    color: #f60;
    text-decoration: underline;
}
/*错误提示*/

.findPSW-content .findPSW-item-text,
.findPSW-content .findPSW-item-yzm {
    position: relative;
    z-index: 990;
}

.findPSW-content .findPSW-item-text .icon-tip-ok,
.findPSW-content .findPSW-item-yzm .icon-tip-ok {
    position: absolute;
    z-index: 992;
    top: 7px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../images/icons_registerLogin.png) -38px -34px;
}

.findPSW-content .findPSW-item-text .icon-tip-ok {
    right: 10px;
}

.findPSW-content .findPSW-item-yzm .icon-tip-ok {
    right: 160px;
}

/*.findPSW-content .text-erro .findPSW-item-input,
.findPSW-content .text-erro .findPSW-item-input {
    border-color: #c13d23;
}*/


.findPSW-content .findPSW-item-tip {
    position: absolute;
    z-index: 991;
    bottom: -17px;
    left: 0;
}

.findPSW-content .findPSW-item-tip {
    color: #c13d23;
}

.findPSW-content .findPSW-item-tip .icon-tip-ok {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    margin-top: -3px;
}
/*按钮*/

.findPSW-content .findPSW-item-btn .next-btn {
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #f60;
}

.findPSW-content .findPSW-item-btn a:hover {
    background: #ee950a;
}

.findPSW-content .findPSW-item-input.error {
    border: 1px solid #c13d23;
}

/*============ 第二步 ============*/

.findPSW-content-table {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.findPSW-content-table .findPSW-style-title {
    padding-bottom: 20px;
}

.findPSW-content-table tbody .findPSW-message-btn,
.findPSW-content-table tbody .findPSW-Email-btn {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: url(../images/icons_findPSW.png);
}

.findPSW-content-table tbody .findPSW-message-btn {
    background-position: left top;
}

.findPSW-content-table tbody .findPSW-message-btn:hover {
    background-position: right top;
}

.findPSW-content-table tbody .findPSW-Email-btn {
    background-position: left bottom;
}

.findPSW-content-table tbody .findPSW-Email-btn:hover {
    background-position: right bottom;
}

.findPSW-content-table tfoot td {
    padding-top: 20px;
    color: #8c8c8c;
}
/*弹框*/

.findPSW-dialog {
    width: 100%;
    background: #fff;
}

.findPSW-dialog .findPSW-dialog-title {
    position: relative;
    z-index: 990;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #2f6ceb;
}
.findPSW-dialog .findPSW-dialog-title .findPSW-dialog-close{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    display: block;
    background: url(../images/icons_registerLogin.png) -35px -106px;
}
.findPSW-dialog .findPSW-dialog-content {
    padding: 20px 0 30px 0;
}

.findPSW-dialog .findPSW-dialog-content form {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.findPSW-dialog-list li {
    position: relative;
    margin:20px auto 0 auto;
    width: 200px;
    text-align: center;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}
.findPSW-dialog-list input.error{
    border-color: #f60;
}
.findPSW-dialog-item-error {
    position: absolute;
    text-align: left;
}
/*弹框按钮*/

.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-1,
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2,
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-submit-btn {
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    border-radius: 3px;
}
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2 {
    display: none;
}

.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-1 {
    background: #333;
}

.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-1:hover {
    background: #ee950a;
}

.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2,
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2:hover {
    background: #ccc;
}

.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2 span,
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-btn-2:hover span {
    position: relative;
    z-index: 990;
    top: -2px;
    margin-right: 3px;
    color: #f60;
}
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-submit-btn{
    background: #f60;
}
.findPSW-dialog-list .findPSW-dialog-item-btn .yzm-submit-btn:hover {
    background: #ee950a;
}
/*弹框输入框*/

.findPSW-dialog-item .findPSW-dialog-item-input {
    width: 162px;
    padding: 5px 27px 5px 10px;
    height: 20px; line-height: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;

}
/*跳转到另外的找回方式*/
.findPSW-dialog-list .findPSW-dialog-item-otherWay a{
    color: #8c8c8c;
    text-decoration: underline;
}
.findPSW-dialog-list .findPSW-dialog-item-otherWay a:hover{
    color: #f60;
}
/*============ 第四步 ===========*/
.findPSW-succful-table{
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
}
.findPSW-succful-table .icon-smile{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    background: url(../images/icons_registerLogin.png) 0 -132px;
}
.findPSW-succful-table .login-href{
    position: relative;
    top: -2px;
    color: #f60;
}
.findPSW-succful-table .login-href:hover{
    color: #ee950a;
}
.findPSW-succful-table .goto-index-href{
    color: #8c8c8c;
    text-decoration: underline;
}
.findPSW-succful-table .goto-index-href:hover{
    color: #f60;
}

.ui-dialog-grid p {
    text-align: center;
}

.find-password-no {
    text-align: center;
    padding-top: 20px;
}
