/**
 *  ---------------------------------------------
 *      返利小店-分享
 *      author : ljrong
 *      date   : 2016-04-06
 *  ---------------------------------------------
 */

@charset "UTF-8";
@import "../layout/layout.scss";
@import "../components/member-head.scss";
@import "../components/member-nav.scss";
@import "../components/common-foot.scss";
@import "../components/common-top-bar.scss";
@import "../components/common-paginator.scss"; //paginator style
@import "../components/common-selector.scss"; //selector style
@import "../components/rebate-head.scss";
@import "../components/rebate-nav-sort.scss"; //nav-sort style

/**
 * css triangle
 */ 
.triangle { 
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;      
}
.triangle-up {
    border-bottom: 6px solid #333;
}
.triangle-down {
    border-top: 6px solid #333;
}
.triangle-down-active {
    border-top: 6px solid #f60;
}
.triangle-up-active {
    border-top: none;
    border-bottom: 6px solid #f60;
}


// main-select
.selector-wrap {
    height: 33px;
}

.selector {
    margin-right: 10px;
    width: 138px;
    float: left;
    background-color: #fff;
    border-color: #b4b4b4;
}

.rebate-share-hot {
    height: 520px;
    background: #ffe0cc;
    .hot-title {
        height: 133px;
        background: url(#{$cdn}/images/rebate/rebate-share-hot.jpg) center 50px no-repeat;
    }
    .list {
        overflow: hidden;
        margin-right: -10px;
        .item {
            position: relative;
            background: #fff;
            float: left;
            margin-right: 10px;
            width: 290px;
            height: 335px;
            &:hover {
                .good-title {
                    color: #f60;
                }
            }
        }
        .icon-hot {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
            background: url(#{$cdn}/images/rebate/rebate-icon.png) -210px -36px;
        }
        img {
            display: block;
            vertical-align: middle;
            width: 290px;
            height: 193px;
        }
        .good-title {
            display: block;
            height: 40px;
            padding: 10px 50px 0;
            overflow: hidden;
            line-height: 20px;
            text-align: center;
            color: #8c8c8c;
            &:hover {
                color: #f60;
            }
        }
        .price {
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 14px;
            color: #333;
        }
        .tips {
            margin: 0 auto;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background: #f60;
        }
    }
}

.rebate-content {
    padding-top: 50px;
    overflow: hidden;
    background: #fff;
}

.main {
    width: 840px;
    float: right;
    .select-bar {
        height: 78px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }
    .selector-wrap {
        height: 33px;
        padding-top: 4px;
        padding-left: 9px;
        border-bottom: 1px solid #ccc;
    }
    .selector {
        width: 138px;
        float: left;
        margin-right: 10px;
    }
    .list {
        overflow: hidden;
        margin-right: -60px;
        .item {
            position: relative;
            float: left;
            margin-bottom: 18px;
            margin-right: 60px;
            width: 238px;
            height: 290px;
            border: 1px solid #ccc;
            &:hover,
            &.selected {
                border-color: #f60;
            }
            &:hover {
                .good-title {
                    color: #f60;
                }
            }
        }
        img {
            display: block;
            vertical-align: middle;
            width: 238px;
            height: 159px;
        }
        .good-title {
            display: block;
            height: 40px;
            padding: 10px 40px 0;
            overflow: hidden;
            line-height: 20px;
            text-align: center;
            color: #8c8c8c;
            &:hover {
                color: #f60;
            }
        }
        .price {
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 14px;
            color: #333;
        }
        .tips {
            margin: 0 auto;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background: #f60;
        }
    }
}

.side {
    float: left;
    width: 340px;
    .side-nav {
    	position: relative;
    }
    dt, dd {
    	width: 142px;
    	height: 40px;
    	line-height: 40px;
    	text-align: center;
    	background: #ebebeb;
    	color: #333;
    	margin-bottom: 20px;
        font-size: 18px;
        span {
            font-size: 12px;
        }
    }
    a {
    	display: block;
    	

    	color: #333;
    }
    .num {
    	font-size: 12px;
    }
    .sub {
    	display: none;
    	position: absolute;
    	top: 0;
    	left: 150px;
    	width: 190px;
    	li {
    		height: 40px;
    		a {
    			float: left;
    			font-size: 14px;
    			height: 38px;
    			background: #fff;
    			border-bottom: 2px solid #transparent;
				color: #333;
				&:hover {
					border-bottom: 2px solid #333;
				}
    		}
    	}
    }
    .cur {
    	a {
    		background: #f60;
    		color: #fff;
    	}
    	.sub {
    		display: block;
    	}
    }
}

.fix-nav {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        background: #fff;
        opacity: .75;
        filter: alpha(opacity=75);
    }
    .share-wrap {
    	position: relative;
    	z-index: 10;
    	float: left;
    	height: 100px;
    	padding-left: 114px;
    	strong {
    		margin-right: 74px;
    		float: left;
    		line-height: 100px;
    		font-size: 30px;
    		color: #f60;
    	}
    	a{
    		position: relative;
    		top: 29px;
    		float: left;
    		width: 50px;
    		text-align: center;
    		i {
    			display: block;
    			margin: 0 auto;
    			width: 40px;
    			height: 40px; 
    			background: url(#{$cdn}/images/rebate/share-icon.png);
    		}
    		.qqkj {
    			background-position: -40px 0;
    		} 
    		.wx {
    			background-position: -80px 0;
    		}
    		.pyq {
    			background-position: -120px 0;
    		}
    		.xlwb {
    			background-position: -160px 0;
    		}
    		span {
    			display: block;
    			line-height: 22px;
    			color: #8c8c8c;
    		}
    		.pop {
	    		display: none;
	    		position: absolute;
	        	padding: 33px 33px 0;
	        	width: 124px;;
	        	height: 157px;
	        	border: 1px solid #ccc;
	        	background: #fff;
	        	bottom: 72px;
	        	left: -70px;
	        	.code-img {
	        		width: 120px;
	        		height: 120px;
	        		background: #ebebeb;
	        	}
	        	p {
	        		height: 36px;
	        		line-height: 36px;
	        		text-align: center;
	        		color: #333;
	        	}
	        	&:after {
	        		content: '';
	        		position: absolute;
	        		width: 10px;
	        		height: 11px;
	        		bottom: -11px;
	        		left: 50%;
	        		margin-left: -5px;
	        		background: url(#{$cdn}/images/rebate/rebate-icon.png) -104px -30px;
	        	}
	    	}
    	}
    }
    .copy {
        position: relative; 
        z-index: 10;
        top: 29px;
        margin-left: 10px;
        float: right;
        width:　138px;
        height: 38px; 
        line-height: 38px;
        text-align: center;
        border-radius: 2px;
        text-align: center;
        border: 1px solid #ccc;
        color: #333;
        background: #fff; 
        cursor: pointer;
        .pop {
        	display: none;
        	position: absolute;
        	padding: 20px 0 0 40px;
        	width: 350px;
        	height: 156px;
        	border: 1px solid #ccc;
        	background: #fff;
        	bottom: 50px;
        	left: -253px;
        	img {
        		display: block;
        		margin-bottom: 10px;
        		width: 88px;
        		height: 58px;
        		border: 1px solid #f60;
        	}
        	.word {
        		display: block;
        		width: 298px;
        		height: 68px;
        		border: 1px solid #ccc;
        		text-indent: 20px;
        	}
        	&:after {
        		content: '';
        		position: absolute;
        		width: 10px;
        		height: 11px;
        		bottom: -11px;
        		left: 320px;
        		background: url(#{$cdn}/images/rebate/rebate-icon.png) -104px -30px;
        	}
        }
    }
    .code {
    	position: relative;
    	top: 29px;
    	float: right;
    	width: 40px;
    	height: 40px;
    	background: url(#{$cdn}/images/rebate/rebate-icon.png) -60px -30px;
    	cursor: pointer;
    	.pop {
    		display: none;
    		position: absolute;
        	padding: 33px 33px 0;
        	width: 124px;;
        	height: 157px;
        	border: 1px solid #ccc;
        	background: #fff;
        	bottom: 50px;
        	left: -75px;
        	.code-img {
        		width: 120px;
        		height: 120px;
        		background: #ebebeb;
        	}
        	p {
        		height: 36px;
        		line-height: 36px;
        		text-align: center;
        		color: #333;
        	}
        	&:after {
        		content: '';
        		position: absolute;
        		width: 10px;
        		height: 11px;
        		bottom: -11px;
        		left: 90px;
        		background: url(#{$cdn}/images/rebate/rebate-icon.png) -104px -30px;
        	}
    	}
    }
}
#secondCats {
    display: none;
}
