@charset "UTF-8";
.rebate-section .rebate-in {
	position: relative;
	width: 1124px;
	margin-right: auto;
	margin-left: auto;
}
.rebate-section1 { background:url(http://misc.jjcdn.com/p/images/rebate-guide-1.jpg) no-repeat center top; height: 550px;}
.rebate-section2 { background:url(http://misc.jjcdn.com/p/images/rebate-guide-2.jpg) no-repeat center top; height: 527px;}
.rebate-section3 { background:url(http://misc.jjcdn.com/p/images/rebate-guide-3.jpg) no-repeat center top; height: 460px;}
.rebate-section4 { background:url(http://misc.jjcdn.com/p/images/rebate-guide-4.jpg) no-repeat center top; height: 459px;}
.rebate-section5 { background:url(http://misc.jjcdn.com/p/images/rebate-guide-5.jpg) no-repeat center top; height: 682px;}
.rebate-section6 { background:#eaeaea; height: 383px;}
.rebate-section1 .rebate-in { height: 551px;} 
.rebate-section2 .rebate-in { height: 529px;}
.rebate-section3 .rebate-in { height: 460px;}
.rebate-section4 .rebate-in { height: 459px;}
.rebate-section5 .rebate-in { height: 683px;}
.rebate-section6 .rebate-in { height: 383px;}

.rebate-section .title {
	font-size: 31px;
	line-height: 62px;
	color: #333;
}
.rebate-section .desc {
	position: relative;
	margin-bottom: 22px;
	font-size: 21px;
	line-height: 26px;
	color: #999;
}
.rebate-section .desc span {
	position: absolute;
	font-size: 36px;
	font-family: arial;
	left: -16px;
}
.rebate-section .txt-left{
	position: absolute;
	left: 100px;
}
.rebate-section .txt-right {
	position: absolute;
	right: 116px;
}
.rebate-section .txt-right .title {
	text-align: right;
}
.rebate-section2 .rebate-img{
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 500px;
	height: 320px;
	background: url(http://misc.jjcdn.com/p/images/rebate-guide-gif.gif);
}
.rebate-section2 .txt-left {
	top: 168px;
}
.rebate-section3 .txt-right {
	top: 168px;
}
.rebate-section4 .txt-left {
	top: 164px;
}
.rebate-section5 .txt-right {
	top: 164px;
}
.rebate-section5 .link {
	position: absolute;
	bottom: 49px;
	left: 430px;
	height: 66px;
	width: 290px;
}
.rebate-section6 .rebate-in {
	padding-top: 34px;
	height: 349px;
}
.rebate-section6 dt {
	width: 120px;
	height: 31px;
	margin-bottom: 28px;
	line-height: 31px;
	background-color: #da1d3e;
	color: #fff;
	font-size: 21px;
	text-align: center;
	border-radius: 100px;
}
.rebate-section6 dd {
	line-height: 34px;
	font-size: 17px;
	color: #333;
}

.member-foot{
	margin-top: 0;
}