/**
 *  ---------------------------------------------
 *      创建我的返利小店 
 *      author : ljrong
 *      date   : 2016-04-05
 *  --------------------------------------------- 
*/
@charset "UTF-8";
@import "../layout/layout.scss"; // base
// grid-system
// icon-system
@import "../components/common-top-bar.scss"; // global-top-bar
@import "../components/member-head.scss"; // member-head
@import "../components/common-foot.scss"; // global-footer
@import "../components/common-min-bar.scss"; // min-bar
@import "../components/common-crumbs.scss"; // main-breadcrumb-trail
@import "../components/common-search-bar.scss"; // head-search-bar
//components
@import "../components/common-dialog.scss"; // art-dialog
@import "../components/common-ads.scss"; // index-top-ad style
@import "../components/member-nav.scss"; //member-nav style

@import "../components/common-paginator.scss"; //paginator style
@import "../components/common-selector.scss"; //selector style
@import "../components/rebate-nav-sort.scss"; //nav-sort style

.rebate-wrap {
    width: 1190px;
    margin: 0 auto;
}
/**
 * css triangle
 */ 
.triangle { 
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;      
}
.triangle-up {
    border-bottom: 6px solid #333;
}
.triangle-down {
    border-top: 6px solid #333;
}
.triangle-down-active {
    border-top: 6px solid #f60;
}
.triangle-up-active {
    border-top: none;
    border-bottom: 6px solid #f60;
}

/**
 * del btn icon 
 */
.del {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(#{$cdn}/images/rebate/rebate-icon.png);
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}

// shop name & style
.shop-info {
    height: 318px;
    padding-top: 40px;
    background-color: #ebebeb;
    margin-bottom: 50px;
 
    dl {
        margin-bottom: 40px;
        overflow: hidden;
    }
    dt {
        float: left;
        width: 90px;
        line-height: 28px;
        padding-right: 10px;
        font-size: 14px;
        color:#333;
        text-align: right;
        span {
            color: #f60; 
        }
    }
    dd {
        margin-left: 100px;
    }
    .alias {
        display: block;
        line-height: 28px;
    }
    .shopName {
        display: block;
        line-height: 30px;
    }
    .shop-name { 
        width: 288px;
        height: 28px;
        border: 1px solid #b4b4b4;
        background: #fff;
        text-indent: 10px;
        font-size: 14px;
        border-radius: 2px;
    }
    .total {
        color: #8c8c8c;
    }
    .cur {
        color: #f60; 
    }
    .style-type {
        position: relative;
        float: left;
        width: 140px;
        height: 140px;
        margin-right: 60px;
        cursor: pointer;
        img {
            display: block;
            vertical-align: middle;
            width: 140px;
            height: 140px;
        }
        .bg {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 30px;
            width: 100%;
            background-color: #fff;
            opacity: .75;
            filter: alpha(opacity=75);    
        }
        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #333;
        }
        &:hover:before, &.selected:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 138px;
            height: 138px;
            border-top: 2px solid #f60;
            border-left: 2px solid #f60;
            z-index: 10;
        }
        &:hover:after, &.selected:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 138px;
            height: 138px;
            border-right: 2px solid #f60;
            border-bottom: 2px solid #f60;
            z-index: 10;
        }
    }
}

.rebate-content {
    overflow: hidden;
}


.main {
    width: 840px;
    float: left;
    .selected-info {
        margin-bottom: 20px;
        height: 40px;
        color: #333;
        background-color: #ebebeb;
        span {
            float: left;
            line-height: 40px;
            text-indent: 8px;
        }
        .add-more {
            margin-top: 5px;
            display: inline-block;
            width: 90px;
            height: 30px; 
            line-height: 30px;
            color: #fff;
            background-color: #f60;
            text-align: center;
            margin-left: 20px;
            border-radius: 2px;
        }
    }
    .select-bar {
        height: 78px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }
    .selector-wrap {
        height: 33px;
        padding-top: 4px;
        padding-left: 9px; 
        border-bottom: 1px solid #ccc;
    }
    .selector {
        width: 138px;
        float: left;
        margin-right: 10px;
    }
    .list {
        overflow: hidden;
        margin-right: -60px;
        .item {
            position: relative;
            float: left;
            margin-bottom: 18px;
            margin-right: 60px;
            width: 238px;
            height: 290px;
            border: 1px solid #ccc;
            &:hover, &.selected{
                border-color: #f60;
            }
            &:hover {
                .good-title {
                    color: #f60;
                }
            }
        }
        img {
            display: block;
            vertical-align: middle;
            width: 238px;
            height: 159px;
        }
        .good-title {
            display: block;
            height: 40px;
            padding: 10px 40px 0;
            overflow: hidden;
            line-height: 20px;
            text-align: center;
            color: #8c8c8c;
            &:hover {
                color: #f60;
            }
        }
        .price {
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 14px;
            color: #333;
        }
        .tips {
            margin: 0 auto;
            width: 160px;
            height: 28px;
            line-height: 28px;
            span {
                float: left; 
                width: 78px;
                font-size: 14px;  
                text-align: center;
            }
        }

        .rebate-price {
            background: #f60;
            color: #fff;
            border: 1px solid #f60;
        }
        .btn {
            background: #fff;
            color: #f60;
            cursor: pointer;
            border: 1px solid #f60;
        }
        .setted { 
            background: #fff;
            color: #ccc;
            border: 1px solid #ccc;
        }
        .del {
            right: 4px;
            bottom: 19px;
        }
    }
}
.side {
    margin-left: 900px;
    width: 288px;
    padding-top: 14px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    h3 {
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        text-align: center;
        color: #333;
    }
    .tips {
        margin-bottom: 15px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: #8c8c8c;
    }
    .list {
        padding-left:49px;
    }
    .selected {
        width: 190px;
        position: relative;
        margin-bottom: 10px;
        img {
            display:block;
            width: 188px;
            height: 125px;
            border: 1px solid #ccc;
        }
        .good-title {
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            color: #8c8c8c;
        }
        .price {
            height: 30px;
            line-height: 30px;
            color: #333;
            font-size: 14px;
        }
        &:hover {
            img {
                border-color: #f60;
            }
            .good-title {
                color: #f60;
            }
        }
        .tips {
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 40px;
            padding: 5px 0;
            background: #f60;
            p {
                line-height: 20px;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
        }
    }
    .empty {
        margin-bottom: 20px;
        width: 188px;
        height: 125px;
        line-height: 125px;
        text-align: center;
        border: 1px dashed #ccc;
        background: #ebebeb;
        font-size: 18px;
        color: #8c8c8c;
    }
    .del {
        right: 0;
        bottom: 0;
    }
    .fade-in {
        opacity: 0;
        filter: alpha(opacity=0)；
    }
}
.fix-nav {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        background: #fff;
        opacity: .75;
        filter: alpha(opacity=75);
    }
    a {
        position: relative;
        z-index: 10;
        top: 29px;
        left: -40px;
        margin-left: 10px;
        float: right;
        width:　138px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        border-radius: 2px;
        text-align: center;
    }
    .save-change, .view-share {
        border: 1px solid #f60;
        background: #f60;
        color: #fff;
    }
    .preview {
        border: 1px solid #ccc;
        color: #333;
    }
}

#secondCats {
    display: none;
}

p.tips-title {
    line-height: 30px;
    text-align: center;
}