@charset "UTF-8";
@import "../layout/layout.scss";          
@import "../layout/layout.scss";          
           
 
@import "../components/common-top-bar.scss";       

@import "../components/member-head.scss";    
@import "../components/common-foot.scss";
@import "../components/common-search-bar.scss";


/*
 *  new register
 *
 *  author:ljrong
 *  date:20150805
 */
.register-warp {
    min-height:500px;
}
.reg-left {
    width: 550px;
    padding-left: 100px;
    padding-top:42px;
    .reg-phone-icon {
        position:absolute;
        width:8px;
        height:16px;
        margin-left:-15px;
        margin-top:9px;
        background-position: -20px 0;
    }
    .reg-mail-icon {
        position:absolute;
        width:15px;
        height:10px;
        margin-left:-24px;
        margin-top:12px;
        background-position: -47px 0;
    }
    .hd {
        width:441px;
        height:32px;
        line-height:32px;
        border-bottom:2px solid #ccc;
        margin-bottom:50px;
        color:#333;
        font-size:14px;
        .hd-item {
            float:left;
            padding-left:41px;
            padding-right:24px;
            cursor: pointer;
            border-bottom:2px solid #ccc;
        }
        .active,.on{
            color:#f60;
            border-bottom-color:#f60;
            .reg-phone-icon {
                background-position: -4px 0;
            }
            .reg-mail-icon {
                background-position: -65px 0;
            }
        }
    }
    .bd {
        padding-left:50px;
        .bd-con {
            display:none;
        }
        .active {
            display:block;
        }
    }
    .phone-code-item {
        width:188px;
    }
    .getCode {
        position:absolute;
        width:88px;
        margin-left:10px;
        height:38px;
        text-align:center;
        line-height:38px;
        cursor:pointer;
        border:1px solid #b4b4b4;
        color:#333;
        background:#fafafa;
        &:hover {
            color:#f60;
        }
    }
    .protocol {
        margin-bottom:10px;
        i {
            position:relative;
            margin-top:-1px;
        }
        span {
            display:inline-block;
            height:20px;
            line-height:20px;
            margin-left:5px;
        }
        .error-tips {
            display:none;
        }
    }
    a {
        color:#2f6ceb;
        &:hover {
            color:#f60;
        }
    }
    .phone-sub {
        width:290px;
        height:40px;
        margin-bottom:30px;
        line-height:40px;
        background:#f60;
        text-align:center;
        font-size:14px;
        color:#fff;
        cursor:pointer;
        &:hover {
            background:#ee950a;
        }
    }
    .other-login {
        margin-bottom:14px;
        .title {
            margin-right:20px;
        }
        a {
            position:absolute;
            width:24px;
            height:24px;
            margin-top:-4px;        
            opacity:0.7;
            &:hover {
                opacity:1;
            }
        } 
        .qq {
            background-position: 0 -22px;
        }
        .wx {
            margin-left: 34px;
            background-position: -28px -22px;
        }
        .zfb {
            margin-left: 68px;
            background-position: -56px -22px;
        }
        .wb {
            margin-left: 102px;
            background-position: -84px -22px;
        }
    }
}

.reg-icon {
    background:url(../images/reg-icon.png) no-repeat;
}
.reg-right {
    width: 390px;
    height: 100px;
    margin-top: 76px;
}
.kh-form-wrap {
    margin-bottom:30px;
    top: 20px;
}
.kh-form-item {
    /* width:288px;
    height:38px;
    text-indent:10px;
    line-height:38;
    border:1px solid #b4b4b4;
    font-size:14px;
    color:#333; */

    width: 288px;
    height: 26px;
    text-indent: 10px;
    line-height: 26px;
    padding: 6px 0;
    border: 1px solid #b4b4b4;
    font-size: 14px;
    color: #333;
}
.kh-form-item:focus {
    border-color:#2464ea;
}
.kh-form-item.focus {
    border-color:#2464ea;
}
.kh-form-item.error {
    border-color:#c0361c;
}
.error-tips {
    position:absolute;
    line-height:18px;
    color:#c0361c;
    padding-left:18px;
    display:none;
    i {
        position:absolute;
        margin-left: -18px;
        margin-top: 2px;
    }
}
.info-tips {
    position:absolute;
    display:none;
    line-height:18px;
    color:#8c8c8c;
}

.icon-tip-ok {
    position:absolute;
    display:none;
    margin: 12px 0 0 -20px;
}

.countDown {
    position:absolute;
    width:88px;
    margin-left:10px;
    height:38px;
    text-align:center;
    line-height:38px;
    cursor:pointer;
    border:1px solid #b4b4b4;
    color:#f60;
    background:#fafafa;
    cursor:pointer;
    text-align:center;
    display:none;
}

.level {
    display:none;
    position:absolute;
    margin-left:10px;
    margin-top:5px;
    line-height:30px;
    i {
        position:absolute;
        width:20px;
        height:12px;
        margin-top:9px;
        background:#ccc;
    }
    .level-icon1 {
       margin-left:3px; 
    }
    .level-icon2 {
        margin-left:27px;
    }
    .level-icon3 {
        margin-left:51px;
    }
    .level-tips {
        position:absolute;
        margin-left:76px;
    }
}
.level1 {
   .level-icon1 {
       background:#c13d23;
    }
    .level-tips {
        color:#c13d23;
    } 
}
.level2 {
   .level-icon1 {
        background:#ee950a;
    }
    .level-icon2 {
        background:#ee950a;
    }
    .level-tips {
        color:#ee950a;
    }
}
.level3 {
   .level-icon1 {
        background:#4ca579;
    }
    .level-icon2 {
        background:#4ca579;
    }
    .level-icon3 {
        background:#4ca579;
    }
    .level-tips {
        color:#4ca579;
    }
}

.protocol {
    width:290px;
    cursor:pointer;
}
.icon-box-normal {
    background-position: -2555px -4px!important;
}

.phone-imgCode-item {
    width:188px;  
}
.imgCode {
    position: absolute;
    width: 88px;
    margin-left: 10px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
#J_refreshCode {
    position: absolute;
    margin-left: 110px;
    line-height: 40px;
    span {
        color: #333;
    }
}