@charset "UTF-8";
@import "../layout/layout.scss";          
 
          
@import "../components/common-top-bar.scss";       

@import "../components/member-head.scss";    
@import "../components/common-foot.scss";  

@import "../components/member-ui.scss";
@import "../components/common-search-bar.scss";
@import "../components/member-nav.scss";

/* ================================ */
/* 注册成功页面   */
/* Author:      jinjing   */
/* Create Date:   20150526    */
/* ================================ */
.border-r-dashed-b4b {
    border-right: 1px dashed #b4b4b4;
}
/*注册成功提示语*/

.register-success {
    height: 88px;
    margin-top: 32px;
    text-align: center;
    font-size: 20px;
    line-height: 88px;
}

.register-success em {
    color: #f60;
}

.register-success .icon-face-smile-orange {
    margin-right: 25px;
    vertical-align: middle;
}
.succ-link {
    text-align: center;
    margin-bottom: 60px;
}
.succ-link a {
    padding: 0 9px;
    color: #2f6ceb;
}
.succ-link a:hover {
    color: #f60;
}




.succ-info-wrap {
    width: 1190px;
    margin: 0 auto 50px auto;
    position: relative;
    height: 500px;
    background: #ffeec1;
    border-radius: 5px;
}
.succ-info-tips {
    width: 589px;
    height: 49px;
    position: absolute;
    top: -11px;
    left: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 49px;
    color: #333;
    background: #79bde9;
    border-top: 1px solid #a6d3f0;
    border-radius: 0 3px 3px 3px;
}
.succ-info-tips .trangle-shadow {
      position: absolute;
      left: -11px;
      top: -1px;
      width: 0;
      height: 0;
      border-style: dashed dashed solid solid;
      border-color: transparent transparent #5d77ae transparent;
      border-width: 0 0 11px 11px;
}
.succ-info-tips em {
    margin: 0 5px;
    font-style: italic;
    color: #16458b;
    font-size: 23px;
}


.register-success-form {
    padding-left: 30px;
    padding-top: 72px;
    position: relative;
}
.register-success-form .reg-succ-pic {
    position: absolute;
    top: 32px;
    left: 772px;
}
.register-success-form li.clearfix { 
    margin-bottom: 30px;
    position: relative;
}
.register-success-form  li.select-wrap-item {
    margin-bottom: 5px;
}

.register-success-form .form-item {
    float: left;
    margin-right: 3px;
    height: 58px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    width: 448px;
}
.register-success-form .form-item.error {
    border-color: #c13d23;
}
.register-success-form .error {
    border-color: #c13d23;
}
.register-success-form .name-item {
    width: 297px;
}
.register-success-form .area-item,.register-success-form .sex-item {
    position: relative;
    width: 146px;
}
.sex-item .sex{
    display: block;
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
}
.sex-item .cur {
    color: #fff;
    z-index: 3;
}
.sex-item .cur span {
    position: relative;
    top: -2px;
    z-index: 9;
}
.sex-item .cur .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px; 
    border-radius: 100%;
    background: #f60;
    z-index: 1;
}
.sex-item .line {
    position: absolute;
    width: 0;
    height: 90%;
    border-right: 1px dashed #b4b4b4;
    left: 50%;
    top: 5%;
}

.register-success-form input.form-item {
    text-indent: 10px;
}
.register-success-form .sub-btn {
    display: block;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background: #f60;
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 448px;
}
.register-success-form .sub-btn:hover {
    background-color: #ee950a;
}

/*地址选择样式*/
.address-select {
    position: relative;
}
.address-select {

}
.address-select .title {
   height: 58px;
   line-height: 58px; 
   padding-left: 10px;
   cursor: pointer;
}
.icon-select-up-2f6 {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -5px;
} 
.address-select .cur .icon-select-up-2f6 {
    background-position: -4px -227px;
}
.select-list {
    position: absolute;
    top: 64px;
    left: -1px;
    background: #fff;
    border:1px solid #b4b4b4;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 225px;
    overflow-y: auto;
    display: none;
    z-index: 9;
}

.select-list li {
    text-indent: 9px;
    cursor: pointer;
}

.error-tips {
    position: absolute;
    line-height: 22px;
    color: #c13d23; 
    font-style: normal;
}
.error-tips i{
    position: relative;
    top: -1px;
    margin-right: 4px;
}
.succ-tips {
    position: absolute;
}