/*
 *  item page style
 *  @author zhangzhensheng
 *  @author date 2016-02-27
*/

/* 315 item */
.w590 {
    float: left;
    width: 590px;
}
.w600 {
    float: left;
    width: 600px;
}
.h393 {
    height: 393px;
}
.kh-col-24.mt-30 {
    margin-top: 30px;
}
.kh-col-24.mt-40 {
    margin-top: 40px;
}
.kh-col-24.mb-100 {
    margin-bottom: 100px;
}
.fs-44 {
    font-size: 44px;
}
.item-bg {
    position: relative;
    z-index: 0;
    min-width: 1190px;
    // overflow: hidden;
    background-color: green;
    background: url(../images/item-315-bg.jpg) center;
    &>div:first-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 954px;
        background: transparent url(../images/item-315-bg-2.png) center center no-repeat;
    }
}
.item-album .item-album-big {
    width: 590px;
    height: 393px;
    img {
        width: 590px;
        height: 393px;
        cursor: normal;
    }    
}
.item-op {
    background-color: #fff;
    .item-information {
        // padding-left: 0;
        padding: 34px 30px 0 23px;
        .item-title {
            font-size: 18px;
        }
        .item-subtitle {
            font-size: 14px;
            line-height: 28px;
        }
    }
    .item-info-list {
        float: left;
        margin-top: 24px;
        padding: 8px 0 0;
        width: 360px;
        border-right: 1px dashed #fff;
        dd {
            padding-left: 0;
            width: auto;
        }
        span {
            text-decoration: line-through;
        }
    }
    .item-btns {
        position: relative;
        float: left; 
        padding: 0;
        margin: 20px 0 0 20px;
    }
    .item-btn-cart {
        width: 150px;
        height: 45px; 
        font-size: 22px;
        font-weight: bold; 
        color: #333;
        line-height: 45px;
        background: url(../images/item-315.png) -160px -98px no-repeat;
        &:hover {
            background-color: transparent;
        }
        i {
            margin-left: 10px;
            width: 0;
            height: 0;
            border: 8px solid #333;
            border-top-color: transparent;
            border-right-color: transparent;
            border-right-width: 0;
            border-bottom-color: transparent;
            border-left-width: 13px;
        }
    }
    .on {
        color: #f60;
        background-position: -6px -98px;
        i {
            border-left-color: #f60;
        }
    }
    .item-tips {
        position: absolute;
        bottom: -20px;
        left: -6px;
        display: none;
        width: 170px;
        font-size: 14px;
    }
    .jiathis_txt {
       font-size: 14px!important;
    }
}
.item-propery {
    .item-propery-list {
        margin: 14px 0 0 23px;
        dt {
            padding-right: 0;
            width: 66px;
        }
    }
    .item-price-info {
        margin-top: 45px;
        padding: 0;
        width: 600px;
        min-height: 86px;
        background: url(../images/item-315.png) -60px -6px no-repeat;
        dt {
            width: 78px;
        }
    }
    .item-info-sp-list {
        color: #333;
        background-color: #f9f0db;
        dt {
            padding: 0;
            width: 300px;
            text-align: left;
            line-height: 45px;
            &:before {
                content: "";
                position: relative;
                top: 7px;
                display: inline-block;
                margin: 0 10px 0 23px;
                width: 25px;
                height: 25px;
                background: url(../images/item-315.png) -315px -98px no-repeat;
            }
        }
        dd {
            float: right;
            padding-right: 50px;
            width: 140px;
            text-align: right;
            line-height: 45px;
        }
    }
}
.item-detail-title,
.item-rules-title {
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
}
.item-rules-title {
    background: url(../images/item-315.png) -6px -149px no-repeat;
}
.item-detail-title {
    background: url(../images/item-315.png) -6px -190px no-repeat;
}
.item-rules {
    padding: 10px 0;
    width: 100%;
    background-color: #f8ef00;
    li {
        margin: 0 20px;
        font-size: 16px;
        color: #1a6d12;
        line-height: 40px;
        border-top: 1px dashed #c7cd04;
        &:first-child {
            border-top: none;
        }
        &.fc-f60 {
            color: #f60;
            font-weight: bold;
        }
    }
}
.item-detail {
    width: 1190px;
    height: 955px;
}
.jiathis_style_24x24 {
    margin: 20px 0 0 25px;
}
