<div class="address-select"> 
    <div class="hd">
        <a href="javascript:;" class="address-title active">所在省份</a>
        <a href="javascript:;" class="address-title">所在城市</a>
        <a href="javascript:;" class="address-title">所在区</a>
    </div>
    <div class="bd">
        <div class="con pro-con active">
            <ul class="select-list J_select_province"></ul>
        </div>
        <div class="con city-con">
            <ul class="select-list J_select_city"></ul>
        </div>
        <div class="con area-con">
            <ul class="select-list J_select_area"></ul>
        </div>
    </div>
</div>