<form id="J_editPassForm" action="<%=actionURL%>" method="post">
	<div class="fc-8c8">为了您的账户安全，请定期更换登录密码，并确保登录密码设置与提现密码不同。</div>
	<input type="hidden" name="form" value="form">
	<div class="a-edit-pass-tr">
		<p id="J_oldPass" class="edit-input-wrap">
			<input type="password" name="old_passwd" placeholder="原密码" class="JQ_editPassOption" />
		</p>
		<p class="edit-pass-tip"></p>
	</div>
	<div class="a-edit-pass-tr fc-8c8">
		<p id="J_newPass" class="edit-input-wrap">
			<input type="password" name="new_passwd" placeholder="输入新密码" class="JQ_editPassOption" />
		</p>
		<p class="edit-pass-tip"></p>
	</div>
	<div class="a-edit-pass-tr fc-8c8">
		<p id="J_confirmNewPass" class="edit-input-wrap">
			<input type="password" name="confirmNewPass" placeholder="再次输入新密码" class="JQ_editPassOption" />
		</p>
		<p class="edit-pass-tip"></p>
	</div>
</form>