<div id="J_floatNav" class="float-nav">
	<a href="http://chat10.live800.com/live800/chatClient/chatbox.jsp?companyID=201143&jid=2104161973" class="float-nav-char-wrap JQ_floatNavNormal" target="_blank">
		<span class="floag-online-chat">在线客服</span>
		<i class="icon-float-chat normal-icon"></i>
	</a>
	<a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4006538038&aty=0&a=0&curl=&ty=1" class="float-nav-qq JQ_floatNavNormal" target="_blank">
		<span>QQ客服</span> 
		<i class="icon-float-qq normal-icon"></i>
	</a>
	<a href="http://cart.kinhom.com/list.html" class="float-nav-cart JQ_floatNavNormal" target="_blank">
		<span>购物车</span>
		<i class="icon-float-cart normal-icon"></i>
		<i class="icon-cart-num num-icon">0</i>
	</a>

	<a href="javascript:void(0);" class="float-nav-wechat JQ_floatNavWechat">
		<span>
			<img src="http://misc.jjcdn.com/p/images/float_wechat.png" width="40" height="40" />
		</span>
		<i class="icon-float-wechat normal-icon"></i>
	</a>

	<a href="http://www.wenjuan.com/s/qU36f2/" target="_blank" class="float-nav-feedback JQ_floatNavNormal">
		<span>意见反馈</span>
		<i class="icon-float-feedback normal-icon"></i>
	</a>

	<a id="J_floatGoTop" href="javascript:void(0);" class="float-nav-top JQ_floatNavNormal">
		<span>返回顶部</span>
		<i class="icon-float-top normal-icon"></i>
	</a>
</div>