<div class="login-dialog">
    <div class="login-dialog-form">
        <form action="javascript:void(0);" method="post">
            <p class="login-dialog-form-tr" id="J_loginUserName">
                <label>用户名：</label>
                <input type="text" name="loginUserName" placeholder="输入用户名/邮箱/手机"> </p>
            <p class="login-dialog-form-tip"></p>
            <p class="login-dialog-form-tr" id="J_loginPassword">
                <label>密&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" name="loginPassword" placeholder="输入密码"> </p>
            <p class="login-dialog-form-tip"></p>
        </form>
    </div>
</div>
