<div class="top-ad-wrap" style="width: 100%; overflow: hidden;">
    <div style="background:url(http://misc.jjcdn.com/p/images/loading-t.gif) center center no-repeat;">
        <a href="<%if(link!=""){%><%=link%><%}%><%if(linkURL!=""){%><%=linkURL%><%}%>" target="_blank" title="<%=title%>" style=" display:block; width:100%; min-height: 80px; background:url(<%=imgURL%>) center top no-repeat; ">
            <img src="<%=imgURL%>" style="visibility: hidden;display: block" />
        </a>
        <a href="javascript:void(0);" class="index-top-ad-close" id="J_indexTopAdClose">
            <span></span>
        </a>
    </div>
</div>