<form action="<%=url%>" id="J_step_2_mail" method="GET" >
    <input type="hidden" name="idr" value="<%=idr%>" />
    <p><label>您的验证邮箱：</label><span><%=tplEmail%></span></p>
    <ul class="findPSW-dialog-list">
        <li class="findPSW-dialog-item-btn">
            <a href="javascript:void(0)" id="J_getMailYzm" class="yzm-btn-1">获取邮箱验证码</a>
            <a href="javascript:void(0)" class="yzm-btn-2" id="J_countDown_wrap_mail"><span id="J_countDown_mail">60</span>秒后重新获取</a>
        </li>
        <li class="findPSW-dialog-item">
            <input type="text" class="findPSW-dialog-item-input" id="findPSW-mail-input" placeholder="请输入验证码" value=""/>
        </li>
        <li class="findPSW-dialog-item-btn mt20">
            <a href="javascript:void(0)" id="J_mail_check" class="yzm-submit-btn">验 证</a>
        </li>
        <%if(isBoth){%>
        <li class="findPSW-dialog-item-otherWay" ><a href="javascript:void(0);" id="J_way_phone">短信找回密码</a></li>
        <%}%>
    </ul>
</form>